<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
 </p><p>Full form of BA is Bachelor of Arts. BA is an extremely popular undergraduate course that students puruse right after their class 12th. Here are some important facts to konw about Bachelor or Arts:

Bachelor or Arts is usually of three years duration.
As part of a BA course the students need to study five compulsory subjects along with few elective subjects. These subjects vary depending on the discipline selected by candidates.
Candidates can pursue a BA course as a full time course or even as a part time course, correspondence course or in a distance education mode.
BA courses are offered by colleges under various streams such as Design, Hospitality, Mass Communication and Pure Humanities
BA is most popular among students of Humanities and there are various specialisations under BA Humanities. The list of the most popular specialisations in BA Humanities and the colleges that offfer those specialisations is mentioned in the table below
</p><p>
Different languages (English, French, German, Hindi, Spanish,

Chinese/ Mandarin, Greek, Japanese, Latin)

,Economics

,Political Science

,History

,Psychology

,Communication Studies

,Philosophy

,Archaeology

,Sociology

Religious Studies
</p><p>


You may also check out the Top BA Colleges by Location:
</p><p>
1. BA Colleges in Bangalore

2. BA Colleges in UP

3. BA Colleges in West Bengal

4. BA Colleges in Delhi/NCR

5. BA Colleges in Tamil Nadu

6. BA Colleges in Maharastra

7. BA Colleges in Andhra Pradesh

8. BA Colleges in Madhya Pradesh

</p><p>BA Eligibility Criteria</p><p>
The eligibility criteria for a BA course specifies that candidates should have completed their 10+2 from a recognised board. Apart from this, some colleges also specify that aspirants should have secured minimum 50% aggregate marks at their Class 12 level in order to be eligible to pursue a BA course offered by them. Some colleges also offer 5% marks relaxation in this criteria for SC/ ST candidates.

Required Skills for BA
Candidates who want to pursue a BA course need to have interest in the subjects that they choose to pursue in the course. Some of the key skills that aspirants should have in order to pursue a BA course are as mentioned below:

Organised

,Good writer

,Fluent in language

,Logical

,Intellectually curious

,Inquisitive

 


</p><p>
BA Subjects & Syllabus 
</p><p>The subjects taught in a BA course varies on the basis of the discipline selected by the student. Apart from this, slight variation in the syllabus is also there from one college to the other. Candidates can view the subjects that they would need to study as part of their BA course below:

BA Subjects 

BA Syllabus
</p><p>
BA English
</p><p>
English Literature 4(i)
,Twentieth-Century Indian Writing(i)
,Concurrent – Qualifying Language
,English Literature 4(ii)
,Twentieth-Century Indian Writing(ii)
,English Literature 1(i)
,Concurrent – Credit Language
,English Literature 1(ii)
,English Literature 2(i)
,Nineteenth-Century European Realism(i)/ Classical Literature (i)/ Forms of Popular Fiction (i)
,Concurrent – Interdisciplinary
,English Literature 2(ii)
,English Literature 3(i)
,Nineteenth-Century European Realism(ii)/ Classical Literature (ii)/ Forms of Popular Fiction (ii)
,Concurrent – Discipline Centered I
,English Literature 3(ii)
,English Literature 5(i)
,Contemporary Literature(i)
,Anglo-American Writing from 1930(i)/ Literary Theory (i)/ Women’s Writing of the Nineteenth and Twentieth Centuries (i)/ Modern European Drama (i)
,English Literature 5(ii)
,Contemporary Literature(ii)
,Anglo-American Writing from 1930(ii)/ Literary Theory (ii)/ Women’s Writing of the Nineteenth and Twentieth Centuries (ii)/ Modern European Drama (ii)
,Concurrent – Discipline Centered II
</p><p>BA Political Science
</p><p>
Language - MIL/ English Environmental Science
,Understanding Political Theory
,Constitutional Government and Democracy in India
,Generic Elective - I
,Environmental Science Language - MIL/ English
,Political Theory-Concepts and Debates
,Political Process in India
,Generic Elective - II
,Introduction to Comparative Government & Politics
,Perspectives on Public Administration
Perspectives on International Relations
,Generic Elective - III
,Ability Enhancement Course - I
,Pol. Process & Inst. in Comparative Perspective
,Public Policy and Administration in India
,Global Politics
,Generic Elective - IV
,Ability Enhancement Course - II
,Classical Political Philosophy
,Modern Indian Political Thought - I
,Discipline-Specific Elective - I
,Discipline-Specific Elective - II
,Modern Political Philosophy
,Indian Political Thought - II
,Discipline-Specific Elective - III
,Discipline-Specific Elective - IV
</p><p>BA History
</p><p>
History of India-I
,Social Formations and Cultural Patterns of the Ancient World
,History of India-II
,Social Formations and Cultural Patterns of the Medieval World
,History of India-III (c. 750-1206)
,Rise of Modern West-I
,History of India IV (c.1206-1550)
,Rise of Modern West -11
,History of India-V (c. 1550-1605)
,History of India-VI (c. 1750-1857
,History of Modern Europe- I (c. 1780-1939)
,History of India-VII (c. 1605-1750)
,History of India-VIII (c. 1857-1950)
,History of Modern Europe- II (1780-1939)
,History Of Southeast Asia-The 19TH Century
,History Of Southeast Asia-The 20TH Century
,History of Modern East Asia-I(c.1840-1919)
,History of Modern East Asia-1I (c. 1868-1945)
,Generic Elective (Interdisciplinary Any Four)
</p><p>
Environmental Issues In India
Research Methodology in History
Making of Contemporary India
Delhi: Ancient
Delhi: Medieval
Delhi: Modern
Issues in the Contemporary World
Any Two: Understanding Heritage/ Art Appreciation: An Introduction to Indian Art/ Archives and museums/ Understanding Popular Culture
</p><p>
Discipline-Specific Elective (Any Four)
</p><p>
History Of United States Of America -1(C. 1776 -1945)
History Of United States Of America -I1(C. 1776 - 1945)
History Of The USSR-I (c. 1917- 1964)
History Of The USSR-II (c. 1917- 1964)
History Of Africa (c. 1500 - 1960s)
</p><p>BA Psychology
</p><p>
Introduction to Psychology
,Statistical Methods for Psychological Research-I
,Environmental Science
,General Psychology
,Biopsychology
,Psychology of Individual Differences
,English Communication
,Youth, Gender and Identity
,Development of Psychological
,Psychological Research
,Social Psychology
,Emotional Intelligence
,Psychology for Health and Well-being
,Understanding Psychological Disorders
,Statistical Methods for Psychological Research-II
,Applied Social Psychology
,Stress Management
,Psychology at Work
,Dealing with Psychological Disorders
,Developmental Psychology
,Positive Psychology
,Human Resource Management
,Organizational Behavior
,Counselling Psychology
,Health Psychology
,Community Psychology
</p><p>BA Philosophy
</p><p>
Indian Philosophy
,Logic
,Greek Philosophy
,Ethics
,Western Philosophy: Descartes to Kant
,Social & Political Philosophy: Indian and Western
,Applied Ethics
,Text of Indian Philosophy
,Text of Western Philosophy
,Truth Functional Logic
,Analytic Philosophy
,Continental Philosophy
,Philosophy of Religion (Indian & Western)
,Philosophy of Language (Indian & Western)
</p><p>Discipline-Specific Elective-4 (DSE) Subject Centric (Any Four)
</p><p>
Philosophy of mind
,Philosophy of science
,Philosophy of logic
,Knowledge and scepticism
,Aesthetics
,Indian theories of consciousness
,Philosophy of law
,Indian materialism
</p><p>Generic Elective (GE)– 4 (Inter-Disciplinary)
</p><p>
Ethics In Public Domain
,Formal Logic
,Feminism
,Bio-Ethics
skill Enhancement Course (SEC) -2

,Critical Thinking
,Art And Film Appreciation
</p><p>BA Social Work
</p><p>
Beginnings of Social Work
,Fundamental of Social Work
,Sociology for Social Work
,Concurrent Field Work
,Concurrent- Qualifying Language
,Basic Concepts in Psychology
,Contemporary Social Concerns
,Social Psychology
,Concurrent- credit Language
,Working with Individuals
,Working with Groups
,Social Deviance and Social Problems
,Community Organisation
,Communication and Development
,Physical, Mental and Community Health
,Social Policy and Social Development
,Social Legislation and Human Rights
,Social Action and Movements
,Social Welfare and Administration
,Research in Social Work
,Areas of Social Work Practice II
,NGO Movement
</p><p>BA Economics
</p><p>
Introductory Microeconomics
,Mathematical Methods for Economics-I
,Ability Enhancement Compulsory Course - I
,Generic Elective - I
,Introductory Macroeconomics
,Mathematical Methods for Economics-II
,Ability Enhancement Compulsory Course - II
,Generic Elective - II
,Intermediate Microeconomics-I
,Intermediate Macroeconomics-I
,Statistical Methods for Economics
,Skill Enhancement Course - I
,Generic Elective - III
,Intermediate Microeconomics-II
,Intermediate Macroeconomics-II
,Introductory Econometrics
,Skill Enhancement Course - II
,Generic Elective - IV
,Indian Economy - I
,Development Economics - I
,Discipline-Specific Elective - I
,Discipline-Specific Elective - II
,Indian Economy - II
,Development Economics - II
,Discipline-Specific Elective - III
,Discipline-Specific Elective - IV
</p><p>BA Archaeology

</p><p>Methodology and Perspectives of Social Science
,History of Art and Architecture in India
,Basics of Archaeology
,Introduction to Sociology
,Cultural Transition in Pre-Modern Kerala
,Methods of Archaeology
,History of Folklore
,Development of Sociological Theory
,Making of Modern Kerala
,Informatics
,Basics of Indian Numismatics
,Introduction to Political Science
,Understanding the Past
,Early Societies in India
,Development of Numismatics in India
,Governmental Machinery and Processes
,Growth of Indian Archaeology
,Introduction to Archives and Records
,Environmental History
,Archaeological Sites and Monuments in India
,Archival Conservation and Reprography
</p><p>BA Sociology
</p><p>
Introduction to Sociology
,Sociology of India
,Sociological Theories
,Methods of Sociological Enquiry
,Religion and Society
,Marriage, Family and Kinship
,Social Stratification
,Gender and Sexuality
,Polity and Society in India
,Economy and Society
,Techniques of Social Research
,Gender Sensitisation
,Society through the Visual
</p><p>BA Geography

</p><p>Geomorphology
,Climatology
,Cartographic Techniques
,Geography of Population
,Concurrent – Qualifying Language
,Analytical Physical Geography
,Oceanography
,Thematic Cartography (Practical)
,Geography of Settlements
,Concurrent – Credit Language
,Economic Geography
,Environmental Geography
,Remote Sensing (Practical)
,Urban Geography
,Concurrent – Interdisciplinary
,Geography of Natural Resources
,Spatial Dimensions of Development
,Statistical Methods in Geography
,Geography of India
,Concurrent – Discipline Centered I
,Evolution of Geographical Thought
,Social Geography
,Field Techniques
,Agricultural Geography* (Optional)
,Bio Geography* (Optional)
,Political Geography* (Optional)
,Disaster Management
,Regional Planning: Case Studies
,Geographical Information System
,Geography of Tourism* (Optional)
,Contemporary Environmental Issues* (Optional)
Rural Development* (Optional)
</p><p>BA Anthropology
</p><p>
,Introduction to Social Anthropology
,Introduction to Biological Anthropology
,Archaeological Anthropology-I
,Technical Writing & Communication in English/ Computational Skills
,Archaeological Anthropology-II
,Anthropology of Kinship
,Biostatistics and Data Analysis,
,Theories of Culture and Society
,Human Genetics
,Primate Biology / Cell Biology-I
,Molecular Biology-I
,Tribes and Peasants in India
,Anthropology of religion, politics & economy
,Biodiversity & Indigenous Knowledge / Cell Biology II
,Anthropology of India / Molecular Biology-II
,Human Ecology: Biological Dimensions
,Biological Diversity in Human Populations
,Human Ecology: Social and Cultural Dimensions
,Genetics & Genomics-I
,Field work dissertation
,Fundamental of Human Origins and Evolution
,Genomic Diversity in Human Populations
,Anthropology In Practice / Genetics & Genomics-II
</p><p>BA Linguistics

Core Courses—Discipline Specific Course (DSC)-4
</p><p>
Introduction to Language
,Elementary Phonetics and Phonology
,Morphosyntactic Processes
,Language, Mind and Brain
,Discipline-Specific Elective (DSE) Any Two
,
Language, Society and Language change
Linguistic Tradition and Historical Linguistics.
Generic Elective (Inter-Disciplinary) Any Two

Issues in Applied Linguistics- I
Issues in Applied Linguistics- II
or

GE-2(ii): Language Interfaces
Skill Enhancement Course (SEC)

Understanding Human Language
,Understanding Hindi as a Foreign Language
,Understanding Concepts of Translation
,Understanding Concepts of Language Acquisition and Intervention.
</p><p>BA Rural Studies
</p><p>
Elements of Rural Development
,Rural Development Policies and Programmes
,Indian Rural Economic Scene
,Indian Rural Social Scene
</p><p>BA Career and Jobs</p><p>
After completing a BA course candidates can pursue a MA course in the same discipline in which they pursued their graduation. Candidates who want to make a career as a teacher can opt for a BEd course after completing their BA degree.

Apart from these options candidates are informed that after completing their BA course they become eligible to appear for government exams.

However, aspirants can also opt to pursue a job right after completing their BA course. Some popular job profiles that candidates can pursue after a BA course are:

Content Writer: In this job profile one needs to research for information on the internet or even through offline sources and create original content for the medium and firm that they are employed at.
,Social Worker: In such a job profile one needs to identify and thereafter help people cope with the problems at hand.
,Airhostess/ Flight Steward: In this job profile, one joins the aviation industry and is responsible for ensuring the safety and security of passengers on board an aircraft. Apart from this, an air hostess/ flight steward also serves refreshment to passengers on an aircraft.</p>
</div>
</body>
</html>