<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
  <p> Bachelor of Business Administration or BBA is one of the most popular bachelor degree programmes after class XII. The BBA course is the gateway to numerous job opportunities in a plethora of sectors like Marketing, Education, Finance, Sales, and Government to name just a few.  Here are some important highlights of the BBA program/degree that you should know about:

The 3-year professional undergraduate course in Business Management is open to students from all the three streams: Science, Arts and Commerce.
The BBA course offers knowledge and training in management and leadership skills to prepare them for managerial roles and entrepreneurship.
During the tenure of the course, candidates learn various aspects of business administration and management through class room lectures and practical projects like internship.
BBA can be pursued in full-time as well as correspondence mode.
There are various BBA specializations one can choose from such as
Human Resource Management
,Finance
,Sales & Marketing
Information Technology
</p><p>The average starting salary of a BBA graduate is on an average Rs 3 lakh and upwards.
</p><p>
BBA Eligibility Criteria and Entrance Exams
</p><p>Aspirants who have completed their Class XII (10+2 level) in any stream from a recognised educational board or university can pursue BBA

The candidates must have attained an aggregate score of 50% and above in Class XII

In case a candidate has appeared for Class XII exam and is waiting for the result, s/he can also apply to the course. 


</p><p>
Top Entrance Exams for BBA
</p><p>
Generally, admission to BBA is granted on the basis of an entrance test conducted by the institute/college offering the course. Also, few institutes conduct Group Discussion and Personal Interview rounds followed by the entrance test. Final admission is granted to candidates on the basis of the scores obtained in Qualifying Examination, Entrance Test, and GD-PI. Some of the popular BBA entrance examinations are listed below: 

NPAT
,
UGAT
,
IPMAT
,
AUMAT
,
FEAT
,
BHU UET





</p><p>BBA Specializations
</p><p>Some of the most popular BBA specializations are listed below: 

BBA Finance
,
BBA in Banking and Insurance
,
BBA Information Technology
,
BBA Human Resource
,
BBA Marketing
,
BBA Communication and Media Management
,
BBA Foreign Trade
,
BBA Hospitality and Hotel Management
,
BBA Hospital and Healthcare Management</p><p>BBA Syllabus and Subjects
</p><p>BBA syllabus is devided into six semesters. The BBA syllabus broadly consists of subjects like Business Organisation, Business Communication, Fundamentals of Accounting, Business Mathematics, Management Concepts & Practices, Organisational Behavior, Managerial Economics, Management Accounting, Business Environment, Business Statics, Marketing Management, etc. 
</p><p>
Given below is the list of few subjects and topics under BBA Syllabus: 

Principles of Management
,
Business Mathematics & Statics
,
Introduction to Operations Research
,
Business Economics
,
Financial & Management Accounting
,
Production & Material Management
,
Personnel Management & Industry Relations
,
Marketing Management
,
Business Data Processing
,
Business Laws
,
Introduction to Psychology
,
Business Analytics
,
Introduction to Sociology
,
Micro Economics
,
Organisational Behaviour
,
Essentials of Marketing
,
Corporate Strategic Management
,
Human Resource Management
,
MIS / Systems Design
,
Understanding Industry and Markets
,
Leadership and Ethics
,
Strategy
,
Entrepreneurship
,
International Business Management
,
Sales & Distribution Management
,
Commercial Bank  Management
,
Security Analysis
,
Manufacture Planning and Control
,
Digital Marketing
,
Retail Management
,
E-Commerce
,
Quantitative Methods
,
Computer Applications
,
Family Business Management
,
Export/ Import Management
,
PR Management
,
Project Management
,
Financial & Commodity Derivatives
,
Financial Modelling using spreadsheets
,
Industrial Relations and Labour Legislation
,
Consumer Behaviour

 

</p><p>
Apart from these, the BBA syllabus also includes practical skills including the following: 

Soft Skills & Personality Development
,
Professional Communication & Behavioral Grooming
,
Writing Skills
,
Etiquette
,
Conversational Skills
,
Consulting & Problem solving skills
,
Selling
,
Negotiating
,
Persuading skills

 </p><p>BBA Jobs & Top Recruiters</p><p>
On completion of BBA, aspirants generally opt for MBA. However, candidates can also choose to explore job opportunities in various fields like banking, urban infrastructure & real estate management, business consultancies, advertising, manufacturing and in Government sectors to name a few. Some major job profiles one can opt for after completion of BBA are as follows: 

Human Resource Executive: The responsibility of a Human Resource Executive (HR Executive) includes ensuring that the strategies, methodology and HR programs are administered and the objectives of the organisation are in consistence with proficient benchmarks, state and government administrative prerequisites and laws. Also, planning, advising on HR strategies and overseeing human asset activities like enrollment and pay is the key responsibility of an HR Manager. The average salary of Human Resource Manager is Rs 4 lakh and upwards

Marketing Executive: A Marketing Executive develops official statements and is responsible for promotion for the organisation’s products, conducting and analysing a competitive research, and establishing objectives, expectations and results for marketing programmes. The average salary of Marketing Executive is Rs 3 lakh and upwards

Marketing Manager: A Marketing Manager collaborates with product managers and aims at executing new/ modified programs for the establishment of improved strategies. Developing market research studies & analyze their finding, making the best use of marketing programs & campaigns for the organisation’s products and services are the responsibilities of a Marketing Manager. The average salary of a Marketing Manager is Rs 4.5 lakh and upwards

Sales Executive: The Sales Executive is required to design and implement strategies to increase company sales revenue and expand the company’s base in the market. The average salary of a Sales Executive is Rs 3 lakh and upwards.

Research and Development (R&D) Executive: A R&D Manager directs and manages the development & research programmes of an organisation in order to meet the needs of the organisation. Measuring the scope of research projects & making sure that they are delivered on time within the stipulated budget is the role of an R&D Manager. The average salary of a Sales Executive is Rs 2 lakh and upwards.
</p><p>
BBA Top Recruiters
</p><p>Some of the top companies offering jobs to BBA graduates are: 

Tata Consultancy Services (TCS)
,
Hindustan Unilever
,
International Business Machines (IBM) Corp
,
Ernst & Young (EY)
,
Hewlett-Packard
,
ICICI Bank
,
Microsoft
,
Mc Kinsey and Company
,
Deloitte
,
Sony</p>
</div>
</body>
</html>