<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
 <p>BBS (Bachelor of Business Studies) course is a 3 year undergraduate programme that deals with the business management orbit. This course is a combination of all marketing, financial, economic and human resources related aspects of the economy.

To pursue this course you need to possess a minimum of 55%-60% score in your higher secondary class and have to clear the common entrance exam. To get admission in the BBS course offered by Delhi University colleges , you need to appear for the DU JAT examination. Moreover, this course cannot be opted from distance learning.

BBS syllabus comprises subjects like Financial Accounting, Macroeconomics, Principles of Marketing, Organizational Behaviour and alike.
</p><p>
Few of the BBS course top colleges are listed below:

Name of the College	-Location -	Admission Process	-Average Fees,
Shaheed Sukhdev College of Business Studies-	New Delhi	-DU JAT followed by Counselling	-INR 42,075
Keshav Mahavidyalaya College	-New Delhi-	DU JAT followed by Counselling	-INR 43,758
Deen Dayal Upadhyaya College	-New Delhi-	DU JAT followed by Counselling	-INR 61,275
Aryabhatta College	-New Delhi	-DU JAT followed by Counselling-	INR 65,310
Ramanujan College	-New Delhi	-DU JAT followed by Counselling	-INR 83,220
An average fee required to pursue this course ranges from INR 30,000 to INR 40,000. The fee structure varies from college to college. After completing this course successfully, you can expect an average salary package of around 4-5 Lakhs per annum.
</p><p>
BBS Course: Admission Process
</p><p>
You can apply for BBS course from both online and offline mode. The admission process for the same varies from college to college. BBS admissions are based on entrance exam only. Earlier BBS admissions i.e. before 2015 followed the preocedure of first entrance exam and then group discussion and personal interview. As per the new policies, now the admissions are offered on the basis of 12th standard and the entrance exam score. Few steps are given below to help you with the admission process:

You either have to visit the official website of the College or the Administration office of the college to avail the application forms for admission in BBS course. Normally, admission forms are available at the college websites now-a-days for students convenience.
Now you need to fill the application form as directed and then upload the relevant and asked documents. These documents involves attested  X th and XII th scorecards, caste certificate (if asked), passport size photographs, scanned signature and identity proof.
Now the final step is to pay the application fee online through payment portals.
Then at a notified date you have to appear for the BBS entrance examination.
Once the results of the entrance exams will be announced or if the admission of any college is merit based and they release their merit list, selected candidates have to appear for the further documentation and counselling process at the notified place.
Entrance Exams conducted by different universities are also followed by the further rounds of group discussion and personal Interview. Depending upon the cutoff or the score, admissions will be provided in this course.
</p><p>
BBS Course: Eligibility Criteria</p><p>
One should possess a minimum of 60% in 10+2 in any relevant stream with English as a mandatory subject. There’s a 5% relaxation for SC, ST and Physically disabled categories. The qualifying percentage of 10+2 varies from institute to institute.

Minimum age to join this BBS course is 18 years and there is no such upper age limit specification. 

To pursue this course you need to appear for the college or university level entrance exam too, which is further followed by the group discussion and personal interview round.

</p><p>BBS Course: Entrance Exam</p><p>
Many of the colleges offering BBS have their own entrance examinations. If you wish to pursue BBS course from a Delhi University college then you have to appear for DU-JAT entrance test.

DU JAT: Delhi University Joint Admission Test (DU JAT) is an entrance test conducted by university of delhi to offer admission in courses like BBS/BMS/BBE/BFIA. This exam is conducted once in a year in the month of June. To follow the important DU JAT dates, refer the below given table:


Other College level entrance/aptitude tests are also there to offer admission in BBS course.

</p><p>How to prepare for Entrance Examination?

</p><p>BBS entrance examinations basically covers 4 sections:

,Quantitative Ability
,General and Business Awareness
,General English
,General intelligence and Reasoning
</p><p>Points to keep in mind while preparing for entrance exams
</p><p>
As there are 4 sections in the entrance examination of bachelor of business studies and each of them hold their own importance. The difficulty level of each of the section changes by every. So, you should give equal attention to each subject and prepare seperate notes register of each of them. 
You can also practice previous year sample papers or question papers. They are easily available on either the college website or in the form of books at book shops. By practicing these papers you will be able to recognise the changing pattern of examination.
You can also appear for online mock tests (if available). Few of these websites have this feature for students to practice any particular section mock test at a time. 
To enhance your general and business awareness section, you should read newspapers, books or journals on daily basis. These sources will help you to get hold on all national and international happenings in the world.
Follow the time table you have made, so that, you will be ale to finish the syllabus on time and get spare time for revision purpose.

</p><p>BBS Course: What is About?

</p><p>
BBS course full form is Bachelor of Business Studies course. This course covers the subjects related to business and finance. They help in enhancing the analytical, intellectual and interpersonal skills of an aspirant. BBS course is often related to BBA course, but both of these courses are different from each other. BBS focuses more on the real life management issues and scenarios.

This course embarks the entrepreneurial skills in an aspirant. This course curriculum comprises both theory and practical subjects. It trains you in the form of internships, industrial visits, presentations and case projects.
</p><p>
BBS Course: Highlights</p><p>
Course Level	-Undergraduate Course
Full Form	-Bachelor of Business Studies
Duration	-3 years
Admission process-	Entrance Test Based
Minimum Percentage	-55%-60%
Course Fee	-Ranges from INR 30,000-40,000
Average Salary Offered	Up to -INR4-5 Lakhs per annum
Career prospects-	Business Analyst, Junior Accountant, Business Development Manager, Research Analyst, Business Consultant
Top Recruiters-	Accenture, AT&T, Concentrix, MC Kinsey, Deloitte, EY, HCL, TCS, IBM and others
</p><p>Why BBS Course?
</p><p>
Makes you a professional in marketing, human resource and finance related subjects.
Strengthens your communication skills.
The course is trending and has a creative study curriculum.
Offers you a higher package and wide career growth.
You can go for higher education after completing this course
You will be benefited with the innovative, critical and analytical ideas.</p><p>
BBS Course Job Prospects and Scope</p><p>
BBS course from a reputed college will definitely be beneficial for you if you are looking forward to work in India or outside India. The exposure in this course is also very huge. In an industry like business management, people who have a business management mindset and skills to cope with business. 

If you wish to pursue further studies, then also there are number of options available to you and you have a strong bbs course scope:

Master of Business Administration (MBA)
Master of Commerce (M.Com)
Master in Business Studies (MBS),
There are ample job prospects available to you after this course completion. Few of them are listed and discussed below:

CAREER PROSPECTS	-DESCRIPTION	-AVERAGE SALARY OFFERED
Business Analyst	-Business Analysts are the one who analyse the business strategies, it’s problems and prepare a report on the same. They also drive possible solutions into action.	-Up to INR 6.08 Lakhs
Share Broker	-Role of Share Broker is to analyze and interpret portfolios and maintain all relevant information related to financial services of the company. 	-Up to INR 3.93 Lakhs
Data Researcher	-Role of a Data Researcher is to extract important information from a large volume of data available. 	-Up to INR 4.13 Lakhs
Accountant	-The Accountant's role is to manage and record the financial transactions of the organization in a well suited manner.-	Up to INR 2.49 Lakhs
Business Consultant	-Business Consultant role is to analyse the business environment and suggest the possible and good policies and solutions to the organization for the dynamic nature of business.	
-Up to INR 9.86 Lakhs

/p
</div>
</body>
</html>