<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   BCA course is suitable for students who are interested in Computer Science and programming. It is a good alternative to the traditional Computer Science Engineering program. Come, let us check out the basic course details. Here is a quick overview of BCA program –

 

Name of the course	BCA (Bachelor of Computer Applications)
Type of course	Bachelor’s Degree
Field	Computer applications
Duration	3 years
Eligibility	Completed 12th standard
 

Also read: Computer Science Engineering (all course details)


 
 

</p><p>BCA (BACHELOR OF COMPUTER APPLICATIONS): BASIC DETAILS
</p><p>BCA is a 3 years long Undergraduate Level Bachelor’s Degree program. The course structure is quite similar to the traditional B.Sc. program. The 3 years’ duration is divided into 6 semesters, each lasting a period of 6 months. During each semester, students have to face different sets of written exams as well as practical and lab sessions.

 

Let us take a closer look at the course content now. BCA stands for Bachelor of Computer Applications. As the name suggests, this program deals with computer application and its allied domains.

 

Let us talk about the format of the course first. It is a Bachelor’s Degree course. Let us check out the academic level of this program. BCA course belongs to UG academic level. UG stands for undergraduate level.

 

In short, it is an undergraduate level Bachelor’s Degree course. Let us check out the course content now. As I mentioned before, this program deals with computer applications and its allied areas. Thus, technically it is a computer education program.


 
 

Programming forms an integral part of computer science. This is the main reason why BCA program focuses extensively on programming languages. This course covers programming languages such as C and C++.

 

A computer is made up of relevant hardware, OS and software. Naturally, BCA program covers these topics too! The program will help students identify different parts of a computer. Apart from that, it will also train students in areas such as – functions of each piece of hardware, assembling them and maintaining them.

 

We are living in the Digital Age now. At present, internet technology is creating waves in sectors such as – E-Commerce, banking, Governance, communication, entertainment etc. BCA program does focus on internet technology.

 

As part of internet technology education, BCA program primarily deals with topics such as – web designing, servers and hosting, web development, relevant software, networks, app development etc. BCA program also contains elements of Information Technology. Here are some of the IT subjects covered by this program – basics of IT, database management, data sets etc.

 

In simple terms, BCA program has lots to do with Computer Science and programming. Students are given knowledge on topics like Programming languages, hardware and software, computer networks, World Wide Web, Database Management, Logic, Multimedia etc.

 

</p><p>COLLEGES
</p><p>BCA colleges in India can be broadly classified into two types – Government colleges and private colleges. As you can see, classification of BCA colleges has been carried out on the basis of the entity that manages the college. Government colleges are owned by relevant branches of the State Government or Central Government. Private colleges are owned by private charitable and/or educational trusts.

 

Govt BCA colleges are known to charge relatively lower tuition fees. These colleges provide subsidized education to its students. On the other hand, private BCA colleges are known to charge relatively higher tuition fees. Private BCA colleges are also known as self-financing colleges. Let us check out the list of colleges now.


 
 

Here’s the list of popular BCA colleges in India –

Gujarat University
,DU
,Karnataka University
,IGNOU
,Veer Narmad South Gujarat University
,RK University
,Kannur University
,HNGU
,Parul University
,Nirma University
,Navrachna University
,Amrita Vishwa Vidyapeetham
,VIT University
,Symbiosis International
,Christ University
,Banasthali University
,Uka Tarsadia University
,Lokmanya College
REVA University
 

</p><p>ADMISSION PROCESS
</p><p>Admission process may vary from one institute to another. Good BCA colleges rely on merit based admission for seat allocation. Under merit based admission process, seats are distributed among deserving candidates on the basis of their performance in relevant entrance exam.

 

Such entrance exams are conducted at State, College and National levels. If you want to secure admission into a good college, you must crack relevant entrance exam and score well in it.

 

Some colleges are also known to carry out direct and donation based admission process. Under direct admission process, vacant seats are distributed among candidates on the basis of first come, first served rule. When it comes to donation based admission, management quota seats are distributed among eligible candidates.

 
</p><p>
FEES</p><p>
Tuition fees depends upon the following factors – type of college (Government or self-financing), scholarship status of the student, rating of the college etc. On an average, tuition fees could be anywhere between 50-100K INR per year.
</p><p>BCA SYLLABUS</p><p>
Here are some of the core subjects present in BCA curriculum –

Programming in C Language (Basic and Advanced)
,Communication Skills
,Networking
,World Wide Web
,Data Structure
,Advanced C Language Programming
,Database Management
,Mathematics
,Software Engineering
,Object Oriented Programming using C++
,Visual Basic
,Programming using PHP
,JAVA
,Oracle
,Operating Systems
,Web Scripting and Development
,Internet Security and Cyber Laws
,Multimedia
RDBMS
 

Those were some important subjects that one will come across in BCA program. Apart from theoretical classes, computer lab practical sessions, projects and Industry training also forms an integral part of the course.

 

</p><p>ELIGIBILITY CRITERIA
</p><p>10+2 students with English subject, who have passed board examination from a recognized board, are eligible to pursue this course. Minimum marks criteria may exist, in case of many Institutes. It may vary between 40-50% marks. Also, in case of some Institutes, students must also have appeared for state level entrance examination to be considered eligible to apply for the course.

 

Eligibility criteria may vary slightly from one college to another. For example, some colleges need applicants to have studied English and mathematics subjects in 12th standard. While some other colleges need applicants to have simply passed 12th standard. Minimum aggregate marks criteria too may vary from one college to another.
</p><p>COURSES TO DO AFTER COMPLETING BCA
</p><p>After completing BCA, the traditional PG course available in front of Graduates is- MCA (Master of Computer Application). This is a Master’s Level course. This course is meant for those, who want to gain advanced technical knowledge about topics that they’ve studies in BCA course. After MCA, one may take up Government Job, Private Sector Job or Teaching Job! PhD program is available after completing MCA course. After PhD, one may go for a career in the R&D sector associated with this field! You may also check – Hardware and networking courses.

 

If one is interested in the field of Management, one may go for courses such as MBA, Diploma in Management, Certificate Management courses etc.

 
</p><p>
CAREER SCOPE, SALARY AND JOB OPPORTUNITIES
</p><p>For graduates, job opportunities exists in Government as well as Private sector. Also, self employment options are available. After BCA., which is an Undergraduate course, graduates may take up Government jobs that require a Graduation Degree (for example- Armed Forces, Nationalized Banks, PSUs etc). You may also check – CCNA course.
</p><p>
 

When it comes to Private sector, Software MNCs are the prime recruiters. Web hosting, IT sector, Electronics Industry are some other sectors that recruits BCA. graduates. Graduates may take up the following posts in the above mentioned sectors-

Software Engineer
,Software Tester
,Database Management professional
,Project Manager
,Information Security professional
,Information Management professional
,System Administrator
,System Security Officer
,Software Architect
,Associate Software Engineer
Project Manager
 

</p><p>
 
Graduates may also become self employed, by becoming freelance or independent software developers, software security experts, consultants etc. One may also go for advanced courses such as MCA. and PhD and eventually take up teaching job or even venture into Research and Development sector associated with this field!

</p>
</div>
</body>
</html>