<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
 <p>BFA or Bachelor of Fine Arts is an undergraduate degree course which deals with the study of Visual or Performing Arts. The course is sometimes also referred to as Bachelor of Visual Arts (BVA) in which the study of Visual Arts includes subjects such as painting, sculpture, photography, literature, animation, etc. On the other hand, the study of Performing Arts involves subjects such as dance, theatre and music. A Bachelor of Fine Arts degree often requires an area of specialisation to be chosen by the candidate as per his/her interest.

Depending on the candidate’s chosen specialisation, BFA is typically a three to four year duration course that can be pursued as a full-time, part-time, online or distance-learning programme.   



A BFA course not only educates but reforms the skills of candidates to enable them become artists in their chosen field. Career opportunities for fine arts graduates are ample wherein they can choose to be an art teacher, writer, fine artist, actor, art director, and a lot more. These days many students are opting for a career in Fine Arts not only to earn high remuneration but also to gain popularity and prestige.    

Aspirants can choose an area in which they can specialise in subjects which can not only enhance their skills and fine-tune the aspirant’s creativeness, it also allows candidates to explore varied options.


Know the complete requirements of BFA course in terms of the skillset, eligibility criteria, course curriculum, and types of job profiles below.
</p><p>
BFA Eligibility Criteria </p><p>
All candidates who have cleared Standard XII in any stream from a recognised board meet Bachelor of Fine Arts eligibility criteria. Although there is usually no other set criteria but some universities/ colleges may also demand a minimum percentage (usually 50 – 60%) that candidates need to secure in Class 12th to get admission in BFA course.

Apart from this, preference at the time of admission is sometimes given to candidates who have studied Arts/ Humanities in Class 12th and have some basic knowledge of the Fine Arts subject which they are looking to pursue.

Required Skillset for BFA
A Fine Arts course is usually pursued by students who have an artist hidden in them. However, candidates who have a creative bent of mind and a natural instinct towards visual or performing arts are a good fit for BFA course. Basic skills that candidates looking pursue a BFA course should have are:
</p><p>
Skillset for BFA Aspirants</p><p>
Sketching skills
,
Drawing skills
,
Visualisation skills
,
Imaginative skills
,
Artistic skills
,
Presentation skills
,
Problem-solving skills
,
Communication skills

 

</p><p>

Course curriculum for BFA</p><p>
As mentioned earlier, duration of a BFA course is between three to four years that are typically divided into six to eight semesters.

Usually BFA course is offered in various specialisations. Candidates can select any of the specialisation of their interest and choose to major in that subject. Some of the popular BFA specialisations are:

</p><p>BFA Specialisations
</p><p>Painting
,
Applied Arts
,
Plastic Arts
,
Pottery & Ceramics
,
Textile Design
,
Music
,
Drama & Theatre
,
Digital Arts
,
Calligraphy
,
Cartooning
,
Dance
,
Graphic Designing
,
Illustration
,
Photography
,
Printmaking
,
Sculpture

 </p><p>

The course curriculum of BFA is inclusive of both theoretical as well as practical subjects. Apart from this, some institutions also encourage candidates to publish their own artworks in the form of research papers or maintain their own journals of artworks.

Curriculum for a BFA course majorly depends on the specialisation a candidate has chosen. However, given below are the core subjects that are generally taught in BFA programme:

</p><p>BFA Theory Subjects</p><p>
English
,
Hindi
,
Punjabi
,
Cultural History of India
,
Health Education
,
History of Indian Art
,
Environmental Studies
,
Basics of Computer Fundamentals
,
Aesthetics
,
Design & Communication Practice
,
Human Values & Professional Ethics
,
Market Research
,
Mural
,
Visual Graphics
</p><p>
BFA Practical Subjects
</p><p>
Geometry Perspective
,
Sketching & Drawing
,
Painting
,
Design
,
Lettering Layout
,
Clay Modelling & Sculpture

,Printmaking

,2D Art & Design

,Computer Graphics

,Communication Illustration

,Communication Design

,Advertising Art

,Market Research

,Visual Arts Process & Practices

Composition



 
</p><p>
BFA: Job Profiles & Top Recruiters</p><p>
There are a wide variety of jobs available for Fine Arts graduates in India. There is a good demand for BFA graduates in the sectors of cinema, television, advertising, animation, publishing, textile, art studios, boutiques, educational institutes, and so on. However, the types of job profiles for BFA graduates vary according to their chosen specialisation. 
</p><p>
Have a look at different BFA job profiles below:
</p><p>
Art Teacher: As an art teacher a candidate can teach others his/ her form of art. A candidate can choose to be a teacher in any Fine Arts field such as painting and sculpting. However, a candidate needs to have a BEd degree as well in order to start their career in the field of teaching. 
Fine Artist: The main job role of a fine artist is to produce artwork by using a variety of techniques. As a fine artist a candidate may find a job as painter, sculptor, illustrator or printmaker in a commercial art studio, design company, publishing house, advertising agency, etc. A fine artist can also choose to work independently and sell their work through art galleries.    
Actor: Candidates who possess BFA degree with a specialisation in theatre can go ahead to work as an actor on screen or stage. As an actor a candidate can express ideas and portray characters in television, film, theatre and other performing arts media. An actor can also choose to work at theme parks or live events.  
Multimedia Artist: Candidates who pass their BFA course with a specialisation in multimedia have the major responsibility of creating animation sequences or storyboards. Such candidates typically work for ad agencies or software, gaming, designing, and television companies.  
Art Director: Candidates who clear BFA course with a graphic or multimedia design specialisation usually go ahead to become an art director. Major responsibilities of an art director include guiding the development of visual and written material through layout and design of artwork and copy. An art director typically works for publishing houses or ad agencies.
Writer: A BFA graduate in creative writing may find a job as creative writer, technical writer, copywriter or freelance writer. A writer can work for advertising agencies, broadcast companies, PR agencies, newspapers or publishing houses.    
Painter: As a painter, a candidate can create various artworks such as water colour painting, oil painting, ink wash painting, acrylic painting, pastel colour painting, glass painting, encaustic painting etc. A painter usually works independently and exhibits or sells his/ her paintings at art galleries.
Graphic Designer: A graphic designer typically creates visual concepts by hand or by using software to communicate ideas that inform as well as captivate consumers. A graphic designer develops an overall layout and production design for advertisements, magazines, brochures, etc.
Animator: An animator has the main job of creating pictures and visuals for movies, video games, books, television, etc. In today’s digital era, most of the animation is computer-generated but animators still need to create their initial sketches by hand.  
Art Conservator: An art conservator, also known as art restorer, is responsible for preserving as well as analysing artifacts and works of art. S/he is also responsible for repairing damages done to different forms of artwork such as sculptures, paintings, murals, ceramics, textiles, books, historical artifacts, etc.   
Photographer: A photographer is an artist with a camera who uses his/ her technical skills as well as artistic ability to take pictures of people, places, landscapes, food, and a lot more.
Musician: The main job of a musician is to compose music and writing out catchy tunes. A musician can work as a solo artist or can also work in bands, choirs, orchestra, etc. A musician can develop music for video games, commercials, stage productions, etc.  
The salary of a BFA graduate depends on the specialisation that s/he has chosen as well as how reformed his/ her skills are. However, the starting salary of a graduate in fine arts is usually between 2 to 3 lakhs per annum. The salary, however, increases along with the experience and knowledge of a candidate. Some of the popular companies that recruit BFA graduates are:
</p><p>
Popular Recruiting Companies for BFA Graduates
</p><p>AAPC

,Cognizant

,Microsoft Corporation

,Lowe Lintas

,Robosoft Technologies

 </p>
</div>
</body>
</html>