<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   <p>What is BHMS (Bachelor of Homeopathic Medicine and Surgery)?</p>
<p>Homeopathy is a holistic medical system involving the treatment of patients by enhancing the body’s natural healing system. It is practised by trained homeopaths who are experienced and qualified to advise and prescribe medications as per their diagnosis. Homeopathy has carved a niche for itself among the various schools of medicine. Bachelor of Homeopathic Medicine and Surgery or BHMS is a graduate degree program in homeopathy that covers the knowledge of homeopathic medicine. Upon completion of this degree, students are eligible to become doctors in the homeopathic medical domain. Nowadays, homeopathic medicine study is being preferred by many students wanting to pursue a career in medicines, when compared to other medical courses.

</p>

<p>Eligibility Criteria for Bachelor of Homeopathic Medicine and Surgery (BHMS)</p>
<p>The minimum eligibility for pursuing BHMS is X and XII qualifications from an approved educational board with Biology/Chemistry/Physics/English as the major subjects studied in class XII, with an aggregate score of at least 50 per cent. The minimum age limit prescribed is 17 years.
</p>
<p>Required Skillset for Bachelor of Homeopathic Medicine and Surgery (BHMS)</p>
<p>Homeopathy doctors require a unique set of skills to best serve their patients; some of which are inherent, and others which can be learned. Everyday duties will necessitate distinct skills, and by perfecting and refining these skills they can make themselves more competitive and their work will be much more attainable and enjoyable. The vital skills necessary for pursuing BHMS are as mentioned below

Interest in promoting natural health and being proficient in homeopathic remedies
Ability to explain complex ideas easily, and using logic/reasoning to identify the strengths/weaknesses of alternative solutions
Ability to prioritise work and manage workload including the ability to work under pressure
Building and developing excellent relationships with patients
Emotional resilience and initiative and willingness to work in a pressured environment and challenging/stressful situations
Enthusiastically looking for ways to help others and a compassionate/caring approach to other people's feelings
Giving full attention to what others are conveying, taking time in understanding the points stated, asking queries as apt, and avoiding untimely interruption
Strong verbal and listening skills, an open mind and willingness to learn
The ability to work efficiently as part of a multidisciplinary healthcare team
Course Duration and Admission Criteria for Pursuing Bachelor of Homeopathic Medicine and Surgery (BHMS)
BHMS is an undergraduate academic degree course which covers medical knowledge of the homeopathic system. The duration of the course is 5.5 years which includes 4.5 years of study followed by 1 year of internship. Each student must undergo a compulsory rotating internship of one year, after passing the final BHMS examination.  Thereafter only, the student shall be eligible for the award of the degree of BHMS by the respective college/university/institute.
</p>
<p>Admission to BHMS course is done through the entrance exam. Candidates need to go through different entrance exams conducted at the state-level and national-level. Some of the entrance exams conducted for admissions to BHMS are:

 </p><p> National Eligibility Cum Entrance Test (NEET),
  Bharati Vidyapeeth Common Entrance Test (BVP CET),
  Engineering, Agricultural, and Medical Common Entrance Test (Telangana and Andhra Pradesh) (EAMCET),
  Indraprastha University Common Entrance Test (IPU CET),
  Kerala Engineering, Agriculture and Medical (KEAM) and
  Punjab University Common Entrance Test (PUCET)
Candidates are selected based on the marks obtained in the 12th final exam and the respective entrance exam, which is followed by a round of personal interview and group discussion. With this, the abilities and skills of candidates are judged and they are shortlisted. Candidates who are shortlisted can appear for further counselling rounds.

</p>

<p>Course Curriculum for Bachelor of Homeopathic Medicine and Surgery (BHMS)
BHMS course comprises theoretical and practical knowledge of the homeopathic medication system. The course curriculum cover topics such as Human Anatomy, Physiology, Biochemistry, Community Medicine, among others. The course includes a compendium of pre-clinical and clinical subjects. 

The academic program of BHMS is divided into four parts. The first part is 1.5 years long, and the 2nd, 3rd and 4th parts are a year-long each. Adequate prominence is given to the theoretical part of learning along with hands-on practical sessions. While the crux of the syllabus is followed in most colleges/institutes/universities across the country, minor deviations from the regulated curriculum are observed in a few colleges/institutes/universities.
</p>
<p>Syllabus of Bachelor of Homeopathic Medicine and Surgery (BHMS)</p> 
<p>BHMS - First Year</p>
<p>
Organon of Medicine, Principles of Homoeopathic Philosophy and Psychology

Physiology including Biochemistry

Anatomy, Histology, and Embryology

Homeopathic Materia Medica

Homeopathic Pharmacy</p>

<p>BHMS - Second Year</p>

<p>Pathology and Microbiology including Virology and Parasitology Bacteriology

Organon of Medicine and Principles of Homeopathic Philosophy

Forensic Medicine and Toxicology

Homoeopathic Materia Medica

Surgery including ENT, Eye Dental and Homeo Therapeutics

Practice of Medicine and Homeo Therapeutics

Obstetrics and Gynaecology Infant Care and Homeo Therapeutics</p>

<p>BHMS - Third Year</p>
<p>
The Practice of Medicine and Homeo Therapeutics

Obstetrics and Gynaecology Infant Care and Homeo Therapeutics

Surgery including ENT, Ophthalmology, Dental and Homeo Therapeutics

Organon of Medicine

Homoeopathic Materia Medica

BHMS – Fourth Year

The Practice of Medicine and Homeo Therapeutics

Organon of Medicine

Homoeopathic Materia Medica

Repertory

Community Medicine</p>

<p>Specialisations in Bachelor of Homeopathic Medicine and Surgery (BHMS)</p>
   <p> Homeopathic Pharmacy</p>
    <p>Homeopathic Paediatrics</p>
    <p>Homeopathic Psychiatry</p>
    <p>Homeopathic Skin Specialist</p>
    <p>Homeopathic Infertility Specialist</p>
<p>Post-Graduate Courses after Bachelor of Homeopathic Medicine and Surgery (BHMS)</p>
<p>Candidates can either work or opt for higher studies in homeopathy and the allied areas. Given below is a list of specialisations in which post-graduation can be done after completing BHMS

M.D (Hom) Materia Medica

M.Sc Clinical Research

M.D (Hom) Organon of Medicine and Philosophy

M.Sc Human Genome

M.D (Hom) Practice of Medicine

M.Sc Applied Psychology

M.D (Hom) Case Taking and Repertorisation

M.Sc Medical Biochemistry

M.D (Hom) Psychiatry

M.Sc Health Sciences and Yoga Therapy

M.D (Hom) Paediatrics

PGDM Holistic Health Care

M.D (Hom) Pharmacy

PGDM Acupuncture

M.Sc Epidemiology

PGDM Preventive and Promotive Health Care

M.Sc Medical Biochemistry

PGDM Diabetes Mellitus

M.Sc Medical Anatomy

PGDM Clinical Diabetology

M.Sc Neuroscience

MHA (Master of Hospital Administration)

M.Sc Genetics

MBA (Healthcare Management)

M.Sc Food and Nutrition

MPH (Master of Public Health)</p>

Job Profile and Average Salaries
Over the years, the efficacy of homeopathic medicines has grown manifold; mainly due to the on-going research in this field. This has also led to a surge in the career opportunities it offers to students. There are bright job prospects in this field in India as well as overseas as these days people are looking for medical care which does not have side-effects

Job Type

Job Description

Average Annual Salary in INR

(Freshers)

Average Annual Salary in INR

(Experienced)

<p>Homeopathic Doctor

Conducting medical tests, running diagnosis, treating patients and prescribing medicines.

7-8 lakhs

10-50 lakhs</p>

<p>Public Health Specialist

Analysing and developing programs to enhance the health of people.

4 lakhs

5-15 lakhs</p>

<p>Private Practitioner

Providing private services to their patients concerned with health, psychological issues, and other problems

8-10 lakhs

15-60 lakhs</p>

<p>Pharmacist

Owns a pharmacy and interprets the doctor’s prescription, and also identifies therapeutic incompatibilities.

1-1.5 lakhs

3-6 lakhs</p>

<p>Teacher/Lecturer

Teach courses in their subject area, prepare and deliver lectures and lead classroom discussions, assess students and grade them, arrange for outdoor medical camps.

2 lakhs

4 lakhs</p>

<p>Employment Areas/Recruiters for BHMS</p>
  <p>Clinics/Nursing Homes/Hospitals (Private/Government)
  Medical Colleges/Research Institutes/Training Institutes
  Homeopathic Medicine Stores/Pharmacies
  Dispensaries
  Consultancies
  Charitable Institutions/NGOs/Healthcare Community
  Life Science and Pharmaceutical Industries</p>

  </div>
</body>
</html>