<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
<p>BSc Agriculture is a 4-year undergraduate course that primarily focuses on research and practices in agricultural science, dealing with disciplines like Genetics and Plant Breeding, Agricultural Microbiology, Soil Science, Plant Pathology, etc. It is a professional degree recognized by the Government of India in the field of agricultural science. This course aims to provide training to implement modern agricultural techniques and technologies in the real world scenario. 
</p>
<p>Students who wish to study this course should have completed Class 12 with Physics, Chemistry, and Biology as their main subjects. The admission is either done on the basis of Merit and Direct Interview or through BSc Agriculture Entrance Exams.
</p>
<p>Top Ranked BSc Agriculture Colleges in India</p>
College Name	-Location-	Fees (INR)
Govind Ballabh Pant University of Agriculture and Technology	-Pantnagar	-41,736
Junagadh Agricultural University	-Junagadh-	29,190
Chandigarh University	-Chandigarh-	1,44,000
Shivaji University	-Kolhapur-	7,500
Orissa University of Agriculture and Technology	-Bhubaneswar-	53,064
University of Agricultural Sciences-	Dharwad	-18,900
Annamalai University	-Chidambaram-	1,02,270
Kalasalingam Academy of Research And Education -	Krishnankovil	-1,40,600
Siksha O Anusandhan University	-Bhubaneswar	-1,65,000
Bharath University-	Chennai	-1,25,000</p>
<p>Students after completing BSc Agriculture have good scope in their careers. There are many kinds of BSc Agriculture Jobs available like Agricultural Officer, Agricultural Analyst, Plant Breeder, Seed Technologist etc where students can earn around INR 3,00,000 to INR 6,00,000 which with experience can rise to INR 10,50,000 to INR 13,00,000 per year. Students also have the option of going towards an MBA Course like MBA in Agri-business Course. With interest in agriculture on the rise from private multinational companies, it is prudent to complete MBA for MBA Job Opportunities in Agriculture. 

There are many agricultural universities in India that offer the BSc Agriculture program, approved by the Indian Council of Agricultural Research (ICAR), which regulates the teachings and implementation of agricultural research in India. Check Out: BSc Agriculture Distance Education

</p><p>
<p>Key Highlights of BSc Agriculture</p>
BSc Agriculture Full-Form	:Bachelor of Science in Agriculture,
Course Duration:	4-Years,
Admission Process	:Entrance Exam Based,
Eligibility	:50% marks in class 12 in Science (Physics, Chemistry, Biology) stream from a recognized educational board,
Average Course Fee:	INR 2-3 Lakhs,
Average Salary Offered	:INR 3-6 Lakhs per annum,
Job Profiles:	Agriculture Officer, Assistant Plantation Manager, Agricultural Research Scientist, Agriculture Development Officers, Agriculture Technician, Agriculturists, Business Development Executive, Marketing Executive, etc. 
,Top Recruiters:	DuPont India, Rallis India Limited, Advanta Limited, National Agro Industries, Rasi Seeds, ABT Industries, and others such.
BSc Agriculture Eligibility
</p>
Interested students are required to fulfill the below-mentioned eligibility criteria of BSc Agriculture course:

Completion of Intermediate (12 years of school education) in the Science stream with 50% of marks.
Physics, Chemistry, Biology and/or Mathematics as the subjects of study.
Apart from this, candidates possessing Intermediate in Agriculture stream (limited states) are also eligible to apply for the course. A few of the colleges also conduct their own university and college-level entrance examination for offering admissions to this course.


</p><p>
BSc Agriculture Admission Process</p>
The admission procedure varies from institute to institute. Some colleges provide direct BSc Agriculture admission on the basis of merit and personal interview, and some colleges conduct national, state-level, or university level entrance examinations to admit the interested students.
..For Direct Admission:

Students must fill the college application form whether online or offline before the application deadline in order to be considered for the admission process.

For Entrance Exam based Admission:

Students must fill the registration form of one of the many BSc Agriculture Entrance Examinations such as KCET 2020, KEAM 2020 that offers admission into colleges of Karnataka and Kerala respectively.

Admission is offered on the basis of performance in these examinations, followed by the different rounds of counseling sessions which usually consist of Group Discussion and Personal Interview. 
</p><p>
BSc Agriculture Entance Exams</p><p>
Exam Name	-Overview
BHU UET 2020	-BHU UET is a common university level examination that offers admission into many UG courses in the reputed Banaras Hindu University (BHU).- It conducts the examination through computer-based mode	
AP EAMCET 2020	-This exam is a state-level examination that grants admission into many courses of agricultural, pharmacy, and agricultural disciplines in participating colleges of Andhra Pradesh. -This examination is conducted online.	
CG PAT 2020	-This exam is conducted by Chhattisgarh Professional Examination Board, Raipur, for admission into BSc Agriculture and BSc Horticulture degree courses, offered by Indira Gandhi Agriculture University (IGAU).	
SAAT 2020	-SAAT is a national level exam conducted by Siksha Anusandhan (SOA) University for admission into various UG & PG courses. 	
OUAT 2020	-This is a university-level exam conducted by Orissa University of Agriculture and Technology (OUAT) for admission into UG and Agro Polytechnic programs. Offline examination.
Almost all the BSc Agriculture entrance exams are MCQ based and consist of questions from Biology, Chemistry, Physics at Class 10-12 level. There may be a section testing either Logical reasoning or General English skills of a candidate as well.
One can easily prepare for these exams from the Class 12 NCERT books. If candidates want to practice, they can download sample papers and previous years questions papers from the internet to get an idea of the type of questions that one might face on the exam day.
</p><p>BSc Agriculture Subjects


 </p.<p>

The program structure is made in such a way that students can independently work in the future as an Agricultural Scientist, Agricultural Officer, Plant Breeder, Animal Breeder, etc. in different setups in both government and private sectors.


A semester wise breakup of the syllabus of this undergraduate agricultural science course is mentioned below:

Semester I	and Semester II
Fundamentals of Agronomy	,Fundamentals of Crop Physiology
Fundamentals of Genetics,	Fundamentals of Plant Biochemistry
Fundamentals of Soil Science	,Fundamentals of Entomology-I
Fundamentals of Horticulture	,Fundamentals of Agricultural Economics
Rural Sociology & Educational Psychology	,Principles of Organic Farming
Introduction to Forestry	,Fundamentals of Plant Pathology
Introductory Animal Husbandry	,Production Technology for Vegetables and Spices
Comprehension & Communication Skills in English,	Fundamentals of Agricultural Extension Education
Agricultural Heritage	,Food Processing and Safety Issues
Introductory Biology or Basic Agriculture 1	Human Values & Ethics
Elementary Mathematics or Basic AgricuIture 2,	Soil and Water Conservation Engineering
Semester III	and Semester IV
Crop Production Technology 1 (Kharif crops),	Crop Production Technology II (Rabi crops)
Practical Crop Production 1 (Kharif crops),	Practical Crop Production II (Rabi crops)
Fundamentals of Plant Breeding	,Principles of Seed Technology
Agricultural Microbiology	,Problematic soils and their Management
Agricultural Finance and Cooperation	,Renewable Energy and Green Technology
Farm Machinery and Power	,Production Technology for Ornamental Crops, MAP and Landscaping
Principles of Integrated Disease Management	,Entrepreneurship Development and Business Communication
Environmental Studies & Disaster Management	,Introductory Agro-meteorology & Climate Change
Dairy Science	Poultry Production & Management
Fundamentals of Entomology-II	-
Semester V	and Semester VI
Rainfed and dryland Agriculture	Farming System, Precision Farming & Sustainable Agriculture
Crop Improvement-1 (Kharif crops)	,Crop Improvement-II (Rabi crops) 
Pests of Crops and Stored Grain and their Management 	Manures, Fertilizers and Soil Fertility Management 
Agricultural Marketing Trade & Prices	Farm Management, Production & Resource Economics
Protected Cultivation and Secondary Agriculture	Diseases of Field and Horticultural Crops and their Management-II
Diseases of Field and Horticultural Crops and their Management-I	Post-harvest Management and Value Addition of Fruits and Vegetables
Production Technology for Fruit and Plantation Crops	Watershed and Wasteland Management
Communication Skills and Personality Development	Beneficial insects and Pest of Horticultural Crops and their Management 
Intellectual Property Rights	Elective-2
Principles of Food Science & Nutrition	Educational Tour
Geo-informatics and Nanotechnology	-
Elective-1	-
Semester VII	 and Semester VIII
General orientation & On-campus training by different faculties	Production Technology for Bioagents and Biofertilizer
Project Report Preparation, Presentation, and Evaluation-	Seed Production and Technology
-	Mushroom Cultivation Technology
-	Soil, Plant, Water, and Seed Testing
-	Commercial Beekeeping..
The course also offers a number of elective subjects that one can opt for in the 5th and 6th semesters respectively. A candidate has the leverage to pursue the elective subjects of their choice. List of those subjects are provided below:

Agribusiness Management
,Commercial Plant Breeding
,Food Safety and Standards
,Protected Cultivation
,Hi-Tech Horticulture
,Weed Management
,Agricultural Journalism 
,Landscaping
,Agrochemicals
,Protected Cultivation
,BSc Agriculture Subjects
,Principles of Crop Production	Fundamentals of Soil Science
,Elements of Genetics	Agricultural Meteorology
,Elementary Crop Physiology	Introductory Plant Physiology
,Principles of Plant Breeding	Livestock Production and Management
Introduction to Plant Biotechnology	Silviculture
</p><p>BSc Agriculture Colleges</p><p>
Top BSc Agriculture Government Colleges</p><p>
College Name	:Fees (INR)
ADAC&RI	70,825
Govind Ballabh Pant University of Agriculture and Technology	41,736
Junagadh Agricultural University	29,190
Indira Gandhi Krishi Vishwavidyalaya	14,710
Jawaharlal Nehru Krishi Vishwavidyalay	58,395
Anand Niketan College of Agriculture	12,202
Uttar Banga Krishi Vishwavidyalaya	4,000
Shivaji University	7,500
SDAU	28,990
Orissa University of Agriculture and Technology	53,064
</p><p>Top BSc Agriculture Private Colleges
College Name	:Fees (INR)
Mewar University	60,000
LMK	75,000
Ramkrishna Bajaj College of Agriculture	40,070
Vivekanand College of Agriculture	65,000
RKDF University	70,000
Dolphin PG Institute of Biomedical and Natural Sciences	75,000
TRIARD	40,000
Rai Technology University	1,50,000
Sai Nath University	58,000
DCAST	60,000</p>
<p>BSc Agriculture Scope</p><p>
Students have a wide range of scope after completing BSc Agriculture. They may study Masters in Agricultural Sciences or MSc Course. MBA/PGDM Course is also an option that is readily available.

The opportunity of government jobs are also there with IBPS, UPSC, FCI and others. Since the student is a graduate the student is eligible to participate in competitive exams for Government Jobs There is also the option of higher studies, pursuing a Masters in Agriculture through various agriculture entrance exams like ICAR PG, UPCATET, CMAFFU, and several others.

Colleges and universities conduct entrance exams once a year to enroll aspiring students in the PG courses. Many colleges offer agricultural courses in India. ICAR is the regulating body. It has listed 4 deemed universities, 65 institutions, 14 national research centers, 6 national bureau, and 13 directorates/project directorates

MSc Agriculture:

MSc Agriculture is a postgraduate course of 2 years, educated in various perceived colleges in the nation. A portion of the top establishments incorporates the University of Calcutta, Tamil Nadu Agriculture University, Punjab Agricultural University. 

The MSc Agriculture course for the most part spins around horticultural examinations and different logical procedures that are associated with agribusiness. So as to be qualified for the course, the aspirants must have a BSc degree in subjects like Agriculture, Horticulture, or Forestry from a perceived college.

An average fee charged to pursue this course is INR 50,000 to INR 1,50,000. After completion of this course, an aspirant will earn an average salary of INR 1-2.5 Lakhs per annum.

Candidate can also go for other courses in the same discipline of agriculture. A few of those courses are given below.

BSc (Hons) Agriculture	BSc Agronomy
BSc Agriculture Jobs
After completing the course, graduates can find jobs in both the public and private sectors. The importance of agriculture is growing rapidly and thereby increasing job prospects in the field of agriculture.

Today, there are a number of research projects and teaching work related to agriculture in many Agricultural departments, Extension services, Research organizations, Commercial farming, etc.

The average annual salary offered to these professionals ranges between INR 2 to 8 LPA. It may be higher in the government sector.

The Gazetted post of Government of India as Agricultural Officer (Agronomist) is one of the most prestigious jobs in the public sector after BSc Agriculture. </p>
Job Profile	Job Description	Average Annual Salary
Agriculture Officer	::An agriculture officer works with farmers and companies related to agriculture. The main role of an agriculture officer is to guide them to increase agriculture productivity.	INR 9.60 LPA
Assistant Plantation Manager	:Assistant Plantation Manager is responsible for the efficient and profitable management of harvesting and other operations related to the plantation of crops or vegetables.	INR 5.25 LPA
Agricultural Research Scientist	:Agricultural Research Scientists begin with doing research work. Comprising both lab work and fieldwork, they are mainly concerned with the biological processes of various things and their relations with products and processes. 	INR 6 LPA
Agriculture Development Officer:	Similar to an agriculture officer, an Agriculture Development Officer also works to improve the productivity of soil and other agricultural practices.	INR 4.80 LPA
Agriculture Technician	:Agricultural Technicians do work related to food, fiber, animal research, production, and processing by inventing methods to improve the yield of crops and protect animals from diseases.	INR 3.5 LPA
Marketing Executive:	A Marketing Executive promotes a product and develops sales strategies to attract customers and satisfy their requirements in order to maximize profits. It is one of the most popular job profiles in the corporate world.	INR 3.46 LPA
Plant Breeder:	Plant Breeders innovate and develop new strategies, tools, and technologies to improve the yield of major crops in India.	INR 7.76 LPA
Seed Technologist	:Seed Technologists provide support to seed growers by helping them with operations of seed equipment, planting of seeds and, and seed scouting.	INR 3.25 LPA
</p>
</body>
</html>