<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   <p>One of the most creative course options, Fashion Design is considered to be a very prosperous vocational education stream not only in India but abroad as well. This is primarily because the Fashion industry has grown by leaps and bounds and that too within a decade. 

Thus, going by these numbers it is apparent that selecting a course in Fashion Designing is bound to open up a plethora of opportunities for aspirants. However, it is worth knowing some important aspects of this course. Although Fashion Design and Textile Design are closely related to each other but there is a difference between the two. While Fashion Design is dedicated to creating clothes as well as lifestyle accessories, Textile Design course educates students about the process for creating structures as well as designs for knitted, woven, printed fabrics or surface ornamented fabrics and the likes.
<p>
Aspirants can pursue Fashion Design as a course at the undergraduate or even at the postgraduate level. Apart from this, aspirants can even pursue short-term Diploma or Certificate programmes in the field of Fashion Design.



Popular Design Specialisations,
Interior Design	Graphic Design,
Jewelry Design	Product Design</p><p>
Popular Entrance Exams for Fashion Design Course Admissions
</p><p>Most educational institutes shortlist candidates for admission in their Fashion Design course on the basis of a design aptitude test followed by reviewing the candidate’s portfolio and conducting a personal interview round. Some popular fashion design entrance examinations aspirants should consider giving are:
,
NIFT Entrance Exam
,
Pearl Academy Entrance Exam
,
GD Goenka DAT
,
NID Entrance Exam
,
IIAD Entrance Exam
,
AIEED
</p>

<p>Skills required to be a Fashion Designer</p><p>
To build a future in this field, one needs to have an artistic and creative personality. Apart from this, aspirants need to be good at drawing and possess the knack to express their ideas by means of helpful sketches. Candidates who aspire to pursue a Fashion Design programme need to possess the below-mentioned skill-set:
,
Fashion Design Skill Set
,
Creativity and artistic taste
,
Sensitivity to colours, shades, and tones
,
Good communication skills
,
Originality and innovativeness
,
Ability to think in three-dimensions to translate visualisation into garments
,
Goal-oriented
,
Business acumen
,
Interest in sketching
,
Eye for detail
,
Visual imagination
,
Persuasiveness
,
Observation
,
Good understanding of market and customer lifestyle
</p><p>
Fashion Designing Eligibility Criteria 
Aspirants who have cleared their Class 12 from any stream (Science/ Commerce/ Arts) can pursue a Fashion Design course at the graduation level. However, most popular Design colleges allow candidates to take part in their admission process only if they have completed their schooling from a recognised board.

To pursue a Fashion Design course at the postgraduate level, aspirants who have completed a Design course at the graduation level are preferred for admission.  
</p><p>Syllabus for BSc Fashion Design Course
</p><p>
Analytical Drawing
,
Apparel Construction Methods
,
Basic Computer Studies
,
Computer-Aided Design
,
Colour Mixing
,
Basic Photography
,
Grading	
,
History of Costumes
,
Introduction to Pattern Making & Garment Construction
,
Indian Art Appreciation
,
Knitwear
,
Leather Designing
,
Creative Jewellery
,
Current Global Fashion Trends
,
Elements of Design
,
Draping
,
Elements of Textiles
,
Fabric Dyeing and Printing
,
Fashion History
,
Fashion Forecasting
,
Fashion Illustration and Design
,
Design Process
,
Fashion Studies
,
Free Hand Drawing
,
Garment Construction
,
Geometrical Construction
</p><p>Syllabus for BSc Fashion Design & Technology Course
,
Principles of Fashion
,
Fashion Industry and Concepts
,
Fashion Marketing
,
Fundamentals of Fabrics
,
Quantitative Techniques and Demand Forecasting
,
Introduction to IT applications
,
Fashion Communication and Presentation
,
Consumer Behaviour in Fashion
,
Marketing Research Concepts & Techniques
,
Principles and Techniques of Merchandising
,
Introduction to Garment Manufacturing Technology
,
Pattern Making, Grading and Construction
,
Fashion Distribution Management</p>

<p>Fashion Design Jobs & Top Employers </p><p>
Aspirants who wish to join the fashion industry need to have in-depth knowledge of various fabrics, weaves, draping qualities, colour as well as changing trends. Candidates who wish to pursue a career in Fashion Design can go through the list of job profiles mentioned below:

Fashion Designer: In such a job profile aspirants can either start their own label or join a firm to design clothes for them. As a fashion designer, an individual has to work on styling different types of clothes such as jeans, jackets, women’s wear, children’s wear, men’s wear, evening wear, knitwear, sportswear, and the likes.
,Fashion Marketer: In this job profile candidates can work for clothing companies, boutiques, or outlet chains. As a fashion marketer aspirants need to work towards publicising and increasing awareness of a particular brand, designer labels, or department stores. So, basically if one chooses such a professional field then they are expected to plan, direct, or coordinate marketing policies and programmes, such as determining the demand for products and services offered by a firm and its competitors and identify potential customers.
,Fashion Concept Manager: People working under this profile are expected to think of unique themes on which a clothing or accessory range should be designed by a designer, brand, or fashion firm. Also, people in this profile research and suggest ways through which the new line of clothing should be advertised.
,Quality Controller: The first and primary task of a quality controller is to set quality standards for anything and everything that is purchased for a new collection. Apart from this, the quality control (QC) manager also issues guidelines for each department to ascertain quality in various processes along with the production of garments. QC is also responsible for checking the quality of the product through the various stages of production.
,Fashion Consultant/Personal Stylist: People who wish to become fashion consultants/personal stylists are mostly self-employed. However, one can only make a mark for themselves in this job profile if they have a really good reputation in the fashion industry. The typical task of a fashion consultant/personal stylist is to help people develop a wardrobe that promotes their public image.  People working in this profession advise others on the latest fashion trends, clothing styles, colours to wear/avoid, and how to do their make-up and hair.
,Technical Designer: People working as technical designers are responsible for deciding how a garment should be stitched and made. Thus, they are responsible for creating a technical package or TP. So, their task starts when a sketch of the garment to be made is given to them. Typically speaking, technical designers need to put in sewing details, points of measurement (or POM), wash description, label/hangtag placement, and packaging instructions.
,Fashion Coordinator: They are responsible for creating a unified ‘look and feel’ across all fashion divisions of a department store, design house, or fashion magazine. A fashion coordinator needs to constantly monitor various fashion publications and needs to be up-to-date with industry trends so that he/she can advise the organisation regarding which fabric, pattern, and style the firm should produce.
,Fashion Show Organisers: A person who works as a fashion show organiser needs to organise various fashion events. To be successful in this profession one should have good connections.
</p><p>Fashion Design Top Recruiters
Fashion Design graduates have a plethora of opportunities before them. After completing their course aspirants can work with fashion designers as well as corporates. Some corporates that hire fashion design graduates are listed below:

,Raymonds

,Benetton

,Arvind Garments

ITC Ltd.,

,Levis

,Lifestyle

,Madura Garments

,Modelama Exports

,Omega Designs

,Orient Craft

,Pantaloon

,Proline

,Shahi Exports

,Span India

,Spykar

,Swarovski India

,Uni Style India

,Texport Overseas

,Snapdeal

,Shoppers Stop

,Pearl Global

,Mahajan Overseas

,Kimaya

,Gokuldas Images

,Indus League Clothing
</p><p>
Some famous Fashion Designers who hire graduates of fashion design course are as listed below:

Rohit Bal        
,Manish Malhotra     
,Varun Behl
,Raghuvendra Rathore
Sabyasachi Mukherjee</p>
  </div>
</body>
</html>