<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   <p>Bachelor of Science in Hospitality Studies is a 3-year full time graduation course, the eligibility for which is a Higher Secondary Certificate (10+2) qualification with a minimum of 50% marks in any stream. The program is spread over 3 years, divided into 6 semesters of six months each.

Admission to the course in various recognized universities is based on entrance tests held followed by an interview, besides taking the 12th marks into consideration, to judge the eligibility of the candidate seeking admission.

The course is best suited for those who are seeking a career in the hospitality and services sector. A hospitality studies student will be taught the process of dealing in reception and treatment of guests.

The program offers vast opportunities in the travel and tourism sector, hospitality and services sector, and general management as it offers a comprehensive study focused on the management of food, beverage, and accommodation of guests. A degree in hospitality studies will allow you to deal with such matters from both a technical and operative context.

Such graduates may be hired as Hospitality Executive, Catering Officer, Manager& Supervisor, Cabin Crew Hostess/Host, Field Supervisor, Marketing Manager, Catering Supervisor & Assistant, Manager and/or Supervisor, etc. They may be hired in fields such as the Tourism Industry, Hotels/Restaurants, Airlines, Cruise Ships, Tourism Industry, Retail Industry, Colleges/Universities, etc.

The average full time fee charged for the course in India ranges between INR 60,000 to INR 5.10 lacs, and the average salary offered to such professionals’ ranges between INR 2 lacs to 15 lacs per annum, increasing with experience and expertise.


</p><p>B.Sc. in Hospitality Studies: Course Highlights
</p><p>
Course Level-	Graduation
Duration-	3 years
Examination Type-	Semester System
Eligibility	-50% marks in HSC exams
Admission Process-	Based on HSC marks. Some reputed institutions may conduct their own entrance tests.
Course Fee	-INR 60,000 to INR 5.1 Lacs
Average Starting Salary	-INR 2 lacs to INR 15 lacs per annum
Job Positions	-Hospitality Executive, Catering Officer, Manager & Supervisor, Cabin Crew Hostess/Host, Field Supervisor, Marketing Manager, Catering Supervisor & Assistant, Manager and/or Supervisor, etc.
Top Recruiting Companies-	Tourism Industry, Hotels/Restaurants, Airlines, Cruise Ships, Tourism Industry, Retail Industry, Colleges/Universities, etc.
<p>B.Sc. in Hospitality Studies: What is it about?
</p><p>This hospitality management degree has been designed to offer to eligible students the knowledge of management of food, beverage, and accommodation along with general management. It will help the candidates to get the technical and operational perspectives required for functioning in the hospitality and services sector.

The program encompasses marketing, financial management, human resource management besides also focussing on honing the communication skills of the candidates.

The course also provides a comprehensive and in-depth laboratory work for students to gain the knowledge and the required skill standards for functioning of the core departments of any hotel related to food and beverage production and management, catering operations, general management, human resource management, finance management, tourism marketing, among others.

The said course, in its final semesters, will require the candidates to demonstrate their computer skills to address management challenges in the fields of marketing, cost control, and human resource management, all of which are included in the course syllabus; guest service skills; apply tools to monitor the management and functioning of day-to-day services of lodging and/or food service business. The candidate must also, by then, possess, proper sanitation, food safety procedures and methods, appropriate use of common kitchen and dining room management.

</p><p>Top institutes offering B.Sc. in Hospitality Studies:
</p><p>

Name of Institute	-City	-Average Fees in INR
,UEI Global-	Agra-	1.87 lakhs
,Apeejay Institute of Hospitality	-Navi Mumbai-	1.5 lakhs
,TeamLease Skills University-	Vadodara	-1.5 lakhs
,C.T. Group Of Institutions	-Jalandhar	-1.5 lakhs
,JECRC UniversityJaipur	-1.9 lakhs
,Lovely Professional University	-Jalandhar-
	2.67 lakhs
,Singhad Hotel Managemet and Catering Technology	-Lonavla	-1.52 lakhs
,La Sphere Hotel Management School-	Mumbai	-2.55 lakhs
,Amro College of Hotel Management	-Nashik	-1.8 lakhs
,Dr. D.Y. Patil Institute of Hotel Management and Catering Technology-	Pune-	1.52 lakhs
Camp Education Society’s Dr. B. Telang Institute of Hotel Management-	Pune-	60,000
<p>Eligibility for B.Sc. in Hospitality Studies
</p><p>Candidates wishing to apply for the course need to have passed their Higher Secondary Certificate with a minimum of 50% marks in any stream, from a recognized board.

After application, some colleges/institutes may hold an entrance test followed by an interview to judge the eligibility of the candidate for the course.

Top General Colleges In Maharashtra	Top General Colleges In Uttar Pradesh	Top General Colleges In Karnataka	Top General Colleges In Punjab
B.Sc. in Hospitality Studies: Admission Process
Most institutes offering the course admit the students based on their performance in their HSC exam in any stream. Some institutes conduct their own entrance tests for offering admission. Admission process generally varies across colleges.

A few institutes also provide direct admission based on the candidate’s performance in his/her HSC exams.

<p>
B.Sc. in Hospitality Studies: Who should Opt?
</p><p>The program, with studies concentrating on marketing, human resources, and financial management, will equip the candidate to build a strong base before they seek for a professional career in the hospitality and services sector. The candidates who have analytical, critical ,and problem-solving skills along with computer skills to create and present data bases and spread sheets will benefit the most from this course.

The person must also have the flexibility, will, and the qualities required to work with a team or lead a team. Hospitality majorly involves dealing with guests, and so, the person must possess an amiable personality, friendly yet professional way of approaching the guests, ability to solve problems rationally, and sharp leadership skills.

Such graduates, trained and educated in accountancy, cost control, and management are adept to be managers and supervisors with their sharpened skills of communication and the ability to host and treat guests in an amiable manner. In the process of such training, the students also get the opportunity to sharpen their analytical, critical and problem-solving skills which will again help them sustain in the travel and tourism, hospitality and services sector.
</p><p>
B.Sc. in Hospitality Studies: Syllabus and Course Description
</p><p>A semester-wise breakup of the course’s syllabus is tabulated here.

Semester 1 and Semester 2,
Food Production and Patisserie I,	Food Production and Patisserie II
Food and Beverage Service I	,Food and Beverage Service II
Front Office I,	Front Office II
Housekeeping I	,Housekeeping II
Rooms Division (Practical) I	,Rooms Division (Practical) II
Communication Skills (English and French) I,	Communication Skills (English and French) II
Information Technology	,Principle of Hotel Accountancy
Food, Safety and Nutrition	,Principles of Management</p><p>
Semester 3 and Semester 4
Industrial Exposure Training,	Food Production and Patisserie III
 ,	Food and Beverage Service III
 ,	Front Office III
 ,	Housekeeping III
 ,	Rooms Division (Practical) III
 ,	Hotel Accountancy and Cost Control
 ,	Hospitality Law and Human resource Management
 ,	Management Information System in Hospitality Industry
</p><p>Semester 5	-Semester 6
,Food Production and Patisserie IV-	Food Production and Patisserie V
,Food and Beverage Management I	-Food and Beverage Management II
,Front Office IV	-Front Office V
,Housekeeping IV	-Housekeeping V
,Rooms Division (Practical) IV-	Entrepreneur and Enterprise Management
,Hospitality marketing and Strategic Management For Hospitality Industry	Organisation Behaviour
,Environmental Studies	-Core Elective
Financial Management	-Allied Elective</p>
<p>B.Sc. in Hospitality Studies: Career Prospects</p><p>
This course caters to the students who seek a career in hospitality and services sector, travel and tourism sector. Since, it educates and teaches the students how to tackle analytical situational, and critical problems, the candidates develop a keen sense of problem-solving which is a mandatory pre-requisite for all the different job positions that may be offered to such a graduate.
,
The ever-expanding travel and tourism and hospitality sector is always looking for fresh ideas, young, hard-working people and is not just bound to the limitations of the national and/or the local.
,
The course provides global exposure to the graduates in travel and tourism sector, reputed hotel chains, cabin crew of airlines all around the world, cruise ships, retail industry, and the likes.
,
Such graduates may either look for jobs in the field or pursue further education. They may opt for a Master of Science degree in the field or specialise in any other hospitality related field. The plurality and the diversity of the subjects involved in the course open a new horizon of possibilities for the candidates.
,
Such graduates may work as Catering Officer, Manager/Host, Staff Supervisor, Marketing Manager, Front Desk Executive, Catering Supervisor and Assistant, Cabin Crew Hostess/Host, etc.,

,Some of the popular professional avenues open to successful graduates of the course are listed below with the corresponding salaries offered for the respective positions.

	</p><p>Bachelor of Science in Hospitality Studies annual salary</p><p>
Job Position	        -Job Description	                                                                                                                                                                       Average Annual Salary in INR
,Hospitality Executive	-They possess team-leading qualities and problem-solving skills in order to oversee the functioning of hotels and restaurants.	                                                       6.4 lacs
,Catering Officer-	They are responsible for leading the chef team and catering assistants, running the day-to-day operations of resorts, hotels, and restaurants besides overseeing the quality of food.	4.5 lacs
,Hotel Manager	 -       They manage and lead the staff, co-ordinating the hotel services which include food and beverage service, accommodation, among others.	                                                9.45 lacs
,Field Supervisor-	They supervise activities on field and ensure quality service.	                                                                                                                        2.06 lacs
,Marketing Manager-	They are responsible for development of a marketing scheme which is in tandem with the company’s objectives, co-ordinating such activities, etc.	                                12.61 lacs
Cabin Crew Hostess/Host-	They are responsible for providing excellent service to the on-board passengers while also ensuring their comfort and safety on flight.                                            	5.28 lacs
</p>
  </div>
</body>
</html>