<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   <p>For medical aspirants who love animals and want to pursue medicinal science for curing animal disease, Bachelor of Veterinary Science is the best degree course. The course is also known as B.V.Sc and imparts education that enables graduates to diagnose diseases in animals and prescribe medicines. The course curriculum comprises a detailed study of animal anatomy, nutrition, diseases and physiology. The five-year course will comprise both theoretical subjects as well as practical examinations. Candidates also have to take up a medical internship of six months to one year in the final year of the programme in order to achieve the B.V.Sc degree.

</p><p>Bachelor of Veterinary Science (B.V.Sc) - Course Highlights</p>
<p>Course Name	Bachelor of Veterinary Science,
Short Name	B.V.Sc.,
Course Type	Degree Course,
Level	Undergraduate,
Degree	Bachelor,
Relevant Field	Medicine/ Medical Science,
Course Duration	5.5 Years,
Internship	Mandatory,
Minimum Requirement	10+2,
Age Requirements	17 Years,
Admission	Entrance Examinations,
Course Fee	INR 10,000 Per Annum - INR 2 LPA,
Average Initial Salary	INR 5 LPA - INR 8 LPA,
Future opportunities:
Veterinarian, Veterinary Consultant, Veterinary Surgeon, Professor, Researcher, etc.</p>
<p>Bachelor of Veterinary Science (B.V.Sc) Specialisations</<p><p>
BVSc Animal Genetics and Breeding
BVSc Veterinary Microbiology
BVSc Veterinary Surgery & Radiology
BVSc Veterinary Surgery and Radiology
BVSc Animal Production & Management
BVSc Animal Nutrition
BVSc Livestock Production and Management
BVSc Veterinary Medicine, Public Health & Hygiene
BVSc Veterinary Pathology</p>
<p>Bachelor of Veterinary Science (B.V.Sc) Eligibility Criteria
</p><p>
Minimum Qualification Required: 10+2 (Physics, Chemistry and Biology)
Minimum Marks Required (Aggregate): 50%
Minimum Age Required: 19 Years
B.V.Sc Admission Process
In order to take admission in B.V.SC courses, candidates have to study Science up to class 12 with Biology, Chemistry and Physics as compulsory subjects.

Minimum qualifying marks may differ from college to college.

Selection for this course is done on the basis of entrance exams.

All aspiring candidate s have to appear for B.V.SC entrance exams for the universities that they are targeting.
</p>
<p>B.V.Sc Entrance Exams</p>
<p>Following are some popular B.V.SC entrance exams:

All India Common Entrance Examination,
College Of Veterinary Science and Animal Husbandry Entrance Exam,
All India Pre Veterinary Test,
Engineering, Agriculture & Medical Common Entrance Test,
Indian Veterinary Research Institute Entrance Exam,
Kerala Agricultural University Entrance Exam,
Indian Council of Agricultural Research Entrance Examination,
JNU Combined Biotechnology Entrance Exam,
Kerala Engineering Agricultural and Medical Entrance Test</p>
<p>Bachelor of Veterinary Science (B.V.Sc) Syllabus</p>

<p>Year I
</p><p>
Semester I

Introductory Animal Husbandry,

Veterinary Anatomy in General and Osteology,

Scope and Importance of Biochemistry,

Osteology,

Introduction and Importance of Statistics,

Livestock in India

Semester II

Importance of Grasslands and Fodders In-Livestock Production,

Sense Organs and Receptors Physiology of Special Senses,

Demonstration of Embalming of the Carcass and Preservation,

Myology,

Muscle Physiology,

Enzymes: Definition and Classification</p>

<p>Year II
</p><p>
Semester III

Factors Affecting the Digestibility of a Feed,

Introduction and History of Microbiology,

Introduction and Scope of Veterinary Pathology,

Parasites and Parasitism,

General Histology,

Indian Poultry Industry,

Semester IV

Spermatogenic Cycle and Wave,

The Biting Midges,

Concepts in Veterinary and Medical Immunology,

Biochemical and Genetic Determinants of Growth,

Introduction and General Description to Protozoa and their Development,

Gross Morphological and Topographical Study of Various Organs of the Digestive System<p>

Year III
<p>
Semester V

Concept of Sociology,

General Pathology of Viral Infections,

Layout and Management of Rural, Urban and Modem Abattoirs,

Milk Industry in India,

Milk Hygiene in Relation to Public Health,

Historical Development Branches and Scope of Pharmacology,

Semester VI

Drugs acting on the Autonomic Nervous System,

Parasitic Diseases,

Introduction to Aquatic Animals,

Viral Diseases,

Retrospect and Prospect of Meat Industry in India,

Definitions and Aims of Epidemiology</p>

<p>Year IV
</p><p>
Semester VII

Antibacterial Agents,

History and Scope of Veterinary Medicine,

Clinical Evaluation and Abnormalities of Reproductive Tracts in Domestic Animals,

Clinical Manifestation,

Principles of Viewing and Interpreting X-ray Films,

Pre-anaesthetic Considerations and Pre anaesthetics,

Semester VIII

General Toxicology,

Man-Animal and Society,

Dystocia - Types of Dystocia,

Valuation of Acid-Base Balance and Interpretation,

Types and Functions of Placenta in Different Species,

Aetiology, Clinical Manifestations</p>

<p>Year V</p>
<p>
Semester IX

Definition of Animal Welfare and Ethics,

Breeds of Dogs- International Pedigree Breeds and those Commonly seen in India,

Introduction to Andrology,

Livestock Entrepreneurship,

Taxonomy of Various Genera of Wild/Zoo Animals of India along with their Descriptions,

Definition, Scope and Importance,

Semester X - Internship

</p>
<p>Bachelor of Veterinary Science (B.V.Sc) Career Options and Job Prospects
The career options after pursuing a B.V.Sc. course is bright as veterinarians are in demand amongst the common people, pet lovers, social organizations for pets, etc. Government jobs are also available for B.V.Sc graduates in rural as well as urban departments. Awareness and welfare of animals are being promoted by various social organisations that recruit B.V.Sc graduates who can treat animals. There is also a great scope in starting private vet clinics to cure household pets.
</p>
<p>Job Profiles</p>	
<p>Veterinarian Assistant,
Veterinary Physician,
Veterinarian Technician,
Veterinarian Food Inspection Specialist,
Veterinary Surgeon,
Associate Veterinarian,
Veterinary Pharmacologist,
Veterinary Neurologist,
Veterinary Epidemiologist,
Veterinary Dermatologist,
Employment Areas,
Hospitals,
Private Clinics,
Educational Institutes,
Research Centres,</p>
<p>Salary After B.V.Sc
Trainee Veterinarian or Veterinarian Assistant can start out with salaries up to Rs. 10,000 per month. With 2 to three years of practice in this field, Veterinarians can earn up to Rs. 50,000 per month or even more through private clinics. Government jobs in the animal welfare departments also pay up to Rs. 40,000 per month or more depending on the experience of the candidate and the post for which the candidate has applied</p>
  </div>
</body>
</html>