<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
</p><p>Chartered Accountant is a designation given to an accounting professional who has received certification from a statutory body that he/she is qualified to take care of the matters related accounting and taxation of a business, like file tax returns, audit financial statements and business practices, maintaining records of investments, preparing and reviewing financial reports and documents. A Chartered Accountant is also qualified to offer advisory services to clients which include companies and individuals.

Becoming a certified Chartered Accountant requires completing three levels of training designed by the Institute of Chartered Accountants of India (ICAI). The ICAI, is a statutory body which regulates and maintains the profession of chartered accountancy in India. Under the Scheme of Education and Training, a candidate can pursue Chartered Accountancy Course either through, Foundation Course Route or Direct Entry Route. Foundation course is the entry point into the course after Class XII, while Direct Entry is for those who have completed Graduation.


</p><p>
About ICAI Exam
In India, the Institute of Chartered Accountants of India (ICAI), conducts CA exams and certify a candidate as a qualified Chartered Accountant on successful completion of the three-level course.
</p><p>
Examinations conducted are:

Common Proficiency Test (CPT)
,Intermediate (Integrated Professional Competence) Examination
,Final Examination
,Common Proficiency Test is the entry level exam for CA course, followed by Intermediate and Final examination. Intermediate (IPC)E & Final examinations are conducted twice a year, in May and November. CPT is conducted twice a year, in June and December. Click here for all about ICAI exam.,,,,,

,Process to become a certified Chartered Accountant
,Steps under Foundation Route entry
,Register with Board of Studies (BoS) after appearing in or clearing Class XII examination.
,Complete four months study period (bi-annual registration: till 30th June / 31st Dec.)
,Appear for Foundation examination in November/May.
,Qualify Foundation Course
,Register with the BoS for the Intermediate Course
,Complete 8 months of study course
,Appear and pass in either or both groups of Intermediate Course
,Successfully complete Four Weeks Integrated Course on Information Technology and Soft Skills (ICITSS) any time after registering for Intermediate Course but before commencement of the Practical Training
,Register for Three Years Practical Training on passing either or both the Groups of Intermediate Course
,Register for the Final Course after qualifying both the Groups of Intermediate Course
,Successfully complete Four Weeks Advanced Integrated Course on Information Technology and Soft Skills (AICITSS) during the last two years of Practical Training but before appearing for Final Examination
,Appear in Final examination during last six months of practical training
,Complete Practical Training
,Qualify both groups of Final Course
,Become a member
,Steps Under Direct Route Entry
,Graduates can pursue Chartered Accountancy course through Direct Route entry.
,In this entry route, Graduates/Post Graduates from Commerce stream with at least 55% aggregate or equivalent score can apply. However, they must have studied Accounting, Auditing, Mercantile Laws, Corporate Laws, Economics, Management (including Financial Management), Taxation (including Direct Tax Laws and Indirect Tax Laws), Costing, Business Administration or Management Accounting or similar to the title of these papers with different nomenclatures.
,Graduates/Post Graduates from non-commerce must have secured in aggregate a minimum of 60% of the total marks or its equivalent grade in the examination conducted by any recognized University (including Open University).
,Direct Route entry is also open to candidates who have passed Intermediate level examination conducted by The Institute of Cost Accountants of India or by The Institute of Company Secretaries of India. Such candidates are exempted from qualifying Foundation and can register directly to Intermediate Course.
,Candidates in their final year of Graduation can also register for the Intermediate Course on a provisional basis. Registration of such candidates would be regularized only on submission of final year mark-sheet or passing certificate within six months from the date of appearance in the final year graduation examination and on successful completion of ICITSS (Orientation Course and Information Technology). During the provisional registration period, a candidate can undergo and complete ICITSS (Orientation Course and Information Technology).
,Steps under Direct Entry Scheme for Eligible Graduates and Post Graduates:
,Register with the BOS for the Intermediate course
,Successfully complete Four Weeks ICITSS before the commencement of the Practical Training
,Register for Three Years Practical Training
,Appear in Intermediate examination after nine months of Practical Training
,Qualify Intermediate Course
,Register for the Final Course after qualifying both groups of Intermediate Course
,Successfully complete Four Weeks AICITSS during the last two years of Practical Training but before appearing for Final examination
,Appear in Final examination during last six months of practical training
,Complete practical training
,Qualify both groups of Final Course
,Become a member
,Steps under Direct Entry Scheme for students who have passed Intermediate level examination of the ICSI or the ICAI:
,Register with the BoS for the Intermediate Course
,Complete 8 months of study course
,Appear and Pass in either or both Groups of Intermediate Course
,Successfully complete four-week ICITSS any time after registering for Intermediate Course but before the commencement of the Practical Training
,Register for three-year Practical Training on passing either or both the Groups of Intermediate Course
,Register for the Final Course after qualifying both the Groups of Intermediate Course
,Successfully complete Four Weeks AICITSS during the last two years of Practical Training but before appearing for Final examination.
,Appear in Final examination during the last six months of Practical Training
,Complete Practical Training
,Qualify both groups of Final Course
,Become a member

</p><p>
CA Eligibility Criteria
</p><p>To become a Chartered Accountant, the candidate has to go through a process of training and exams as various levels, conducted bythe Institute of Chartered Accountants of India (ICAI). 

Eligibility criteria for Foundation Route:

The candidate must have passed Class XII and completed four months of study period to be able to appear for Foundation examination
The candidate needs to register with Board of Studies for four months of study period
Eligibility criteria for Direct Entry Route:

For direct entry to Intermediate course, the candidate must be:

Commerce Graduates/Post-Graduates (with minimum 55% marks) or Other Graduates/Post-Graduates (with minimum 60% marks) from a recognized university (including Open University)
Intermediate level passed candidates of Institute of Company Secretaries of India (ICSI) and Institute of Cost Accountants of India (ICAI)
The job of a Chartered Accountant is one of the toughest ones in the world of business. The responsibility of company’s financial health is largely depended on its CA’s competency, for he not only advises the client on financial matters but also detects and prevents fraud and deal with financial irregularities. To be able to handle this ultra-sensitive aspect of business, the CA must possess the following skills:

Skillset for Chartered Accountancy Aspirants
Commercial Awareness

Analytical Skills

Communication Skills

Teamwork Skills

Ethics and Professionalism

Eye for detail

The CA course is divided into three levels: Foundation Level, Intermediate Level and Final Level. Below are the papers covered at each level and marking schemes (officially known as skill assessment) of education and training at all levels of CA courses:

The CA course is divided into three levels: Foundation Level, Intermediate Level and Final Level. Below are the papers covered at each level and marking schemes (officially known as skill assessment) of education and training at all levels of CA courses:

Papers of Foundation course
Paper

Name

Paper 1 

Principles and Practice of Accounting

 

Paper 2 

Business Laws & Business Correspondence and Reporting

Section A: Business Laws

Section B: Business Correspondence and Reporting

 

Paper 3

Business Mathematics and Logical Reasoning & Statistics

Part 1: Business Mathematics and Logical Reasoning

Part 2: Statistics

Paper 4

Business Economics & Business and Commercial Knowledge

 

Part 1: Business Economics

Part 2: Business and Commercial Knowledge

 

Skill Assessment Foundation Course – marking scheme
Paper

Level I: Comprehension & Knowledge

Level II: Application

1

Principles and Practice of Accounting

5%-20%

80%-95%

2A

Business Laws

50%-65%

35%-50%

2B

Business Correspondence and Reporting

100%

-

3

Business Mathematics and Logical Reasoning & Statistics

-

100%

4I

Business Economics

40%-50%

50%-60%

4II

Business and Commercial Knowledge

100%

 

Papers of Intermediate Course
Group

Paper Name

Group 1

 

Paper 1: Accounting

Paper 2: Corporate and other Laws
Part 1: Company Law

Part 2: Other Laws

Paper 3: Cost and Management Accounting

Paper 4: Taxation

Section A: Income Tax Law

Section B: Indirect Taxes

Group II

 

Paper 5: Advanced Accounting

Paper 6: Auditing and Assurance

Paper 7: Enterprise Information Systems & Strategic Management

Section A: Enterprise Information Systems

Section B: Strategic Management

Paper 8: Financial Management and Economics for Finance

Section A: Financial Management

Section B: Economics for Finance

Skill Assessment Intermediate Course – marking scheme
Paper

Level I

Comprehension & Knowledge

Level II

Analysis & Application

1

Accounting

5%-15%

85%-95%

2

Part I: Company Law

40%-55%

45%-60%

2

Part II: Other Laws

35%-55%

45%-65%

3

Cost and Management Accounting

20%-30%

70%-80%

4A

Income-tax law

5%-20%

80%-95%

4B

Indirect Taxes

20%-45%

55%-80%

5

Advanced Accounting

5%-15%

85%-95%

6

Auditing and Assurance

30%-55%

45%-70%

7A

Enterprise Information Systems

40%-65%

35%-60%

7B

Strategic Management

50%-70%

30%-50%

8A

Financial Management

20%-30%

70%-80%

8B

Economics for Finance

60%-80%

20%-40%

Papers for Final Course
Group 

Paper Name

Group 1

 

Paper 1: Financial Reporting

Paper 2: Strategic Financial Management

Paper 3: Advanced Auditing and Professional Ethics

Paper 4: Corporate and Economic Laws

Part I: Corporate Laws

Part II: Economic Laws

Group II

 

Paper 5: Strategic Cost Management and Performance Evaluation

Paper 6: Elective Paper

List of Elective Papers:

6A Risk Management

6B Financial Services and Capital Markets

6C International Taxation

6D Economic Laws
6E Global Financial Reporting Standards

6F Multi-disciplinary Case Study

Paper 7:

Direct Tax Laws & International Taxation

Part 1:

Direct Tax Laws

Part 2: International Taxation

Paper 8: Indirect Tax Laws

Part 1: Goods and Services Tax

Part 2: Customs and FTP

Skill Assessment Final Course – marking scheme
Paper

Level I

Comprehension & Knowledge
</p><p>
Level II

Analysis & Application
</p><p>
Level III
</p><p>
Evaluation & Synthesis
</p><p>
1
,
Financial Reporting
,
5%-15%
,
55%-85%
,
15%-25%
,
2

Strategic Financial Management
</p><p>
10%-20%
,
20%-40%
,
50%-60%
,
3
</p><p>
Advanced Auditing and Professional Ethics
</p><p>
15%-25%
,
40%-70%
,
20%-30%
,
4
</p><p>
Corporate & Economic Laws
</p><p>
Part I: Corporate Law
,
15%-25%
,
40%-55%
,
30%-35%
,
Part II: Economic Laws
,
30%-50%
,
50%-70%
,
5
</p><p>
Strategic Cost Management and Performance Evaluation
</p><p>
10%-15%
,
45%-55%
,
35%-40%
,
7
</p><p>
Direct Tax Laws & International Taxation
</p><p>
Part I: Direct Tax Laws
,
5%-10%
,
55%-75%
,
20%-35%
,
Part II: International Taxation
,
40%-50%
,
50%-60%
,
8
</p><p>
Indirect Tax Laws
</p><p>
Part I: Goods and Services Tax
,

10%-30%

,
40%-70%

,
20%-30%
,
Part II: Customs & FTP
,
20%-40%

,40%-70%

,10%-20%

</p><p>CA Scope: Top Recruiters and Job Profiles</p><p>
Chartered Accountancy as a profession assists accounting, auditing, taxation, financial and management areas of an individual or organisation. Chartered Accountants are one of the most sought after technical professionals in the world of finance who offer their services in maintaining and reviewing financial health of a business. Chartered Accountants today, have acquired important position in public as well as private sectors. A CA also acts as business advisor who helps in the preparation of financial reports, securing loans, preparing financial projections, showing how the loans will be repaid, and determining the viability of business. The CA also helps its client to comply with tax laws and represent him before government agencies.
</p><p>
Some of the key responsibilities include:
</p><p>
To prepare and maintain financial statements and budget
,Conduct financial audits (of the organisation’s financial status)
,Provide sound financial information and advice to the client
,Advise clients on tax planning, financial risks, business acquisitions and mergers etc
,Detect and prevent fraud and deal with financial irregularities if and when they arise
,Produce reports and recommendations following internal audits or external audits
,Advise clients on areas of business improvement
</p><p>CA Top Recruiters</p><p>
A chartered accountant is the necessity of all kinds of businesses, whether it big or small or even led by an individual. Every business which generates revenue needs a chartered accountant to manage its finance and taxes. So, they either hire an independent professional or take services of chartered accountancy firms.

Here’s we are mentioning some of the top corporate houses, which hire chartered accountants on regular basis:

</p><p>International Firms</p><p>
E&Y
,
Grant Thorton
,
Olam International
,
KPMG
,
BDO
,
Alghanim Industries
,
Deloitte
,
RSM International
,
ETA Ascon Group
,
PwC
,
Tolaram Group
,
Landmark Group
,
Kuwait Resources House
,
Oman Cables Industry
,
Qatar Insurance Co
,
Rak Investment Authority
,
Topaz Energy & Marine
,
Morgan Stanley
,
JP Morgan Chase
,
Citi Bank
,
Credit Suisse
,
BNY Mellon
,
Crisil
,
Edelweiss

 
</p><p>
Indian Firms
</p><p>Khumji Khiverji & Co
,
Lodha & Co
,
Suresh Surana & Asso LLP
,
SS Kothari Metha & Co
,
Diwan Chopra & Asso
,
S. Aiyar & Co
,
TR Chadha & Co
,
Luthra & Luthra
,
RM Rajapurkar & Co

,JS Sundaram & Co
,
ICICI Bank
,
Axis Bank
,
Federal Bank
,
Kotak Mahindra
,
Standard Chartered
,
State Bank of India
,
HDFC Bank
,
IDFC Bank
,
RBL Bank
,
Janalakshmi
,
Bajaj Finserv & Group

</p>
</div>
</body>
</html>