<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
   <p>
  <h4><p>MBBS (Bachelor of Medicine and Bachelor of Surgery)</p>
<p>Doctors are healthcare professionals who are capable of diagnosing, treating and monitoring (the condition) of patients. </p><p>Doctors use scientific knowledge to heal and help patients. Various methods are used by Doctors to improve the condition of a patient. </p><p>Some of the methods are- administering medicines, surgery, therapy and counseling.</p>

 

It is a noble profession and can be used to touch and influence the lives of people. It is a satisfying profession, where one could use one’s knowledge and skills to bring relief into the lives of people!

 

</p><p>The profession is quite challenging too. It involves tough working schedules, little to no rest (sometimes), emergency calls etc. Often, a Doctor has to put his/her comfort aside, for the sake of his/her patients!

 

Becoming a Doctor is not an easy task! Pursuing and completing MBBS course will make you a Doctor. But securing admission in a good medical college is a tough task! The competition among aspirants is so enormous that getting a seat in top medical colleges has become very difficult. But with hard work and dedication, no goal is beyond one’s reach! In short, if you want to become a Doctor, you will have to work hard for it.</p>If you posses qualities such as- good memory, good communication skills, decision making skills, good observational skills, compassion, good academic aptitude etc, you may perform well in this field.

<p> COURSE DETAILS</p>
<p>MBBS stands for Bachelor of Medicine and Bachelor of Surgery. It is an UG level Degree medical course. The course duration is 5½ years. The academic program is 4½ years long. 1 year is dedicated towards rotating internship.

 

The academic program is divided into 3 phases. The first phase if 1 year long. The second phase is 1½ years long. The 3rd phase consists of final 2 years. Together, these 3 phases are combined to form the 4½ years long academic program.

 
</p>
<p>After completing the academic program and internship, successful graduates may use the prefix of ‘Doctor (Dr)’. Successful graduates may start practice as medical practitioners and treat patients under supervised or independent setup.</p>

<p> ELIGIBILITY CRITERIA</p>
<p>Minimum age: 17 years

 

Candidate must have passed 10+2 Science stream with Physics, Chemistry and Biology subjects, from a recognized board. Minimum aggregate marks required in PCB subjects- 50%. Minimum marks scored in Biology subject- 50%. Note: Minimum marks criteria may vary (usually around 50% marks).
HomeCoursesScience StreamMBBS (Bachelor of Medicine and Bachelor of Surgery)</p>


<p>SYLLABUS</p>
<p>Phase 1 (1st year or I MBBS) subjects-

Anatomy
Biochemistry
Physiology</p>
 

<p>Phase 2 (2nd year or II MBBS) subjects-

Pharmacology
Pathology
Microbiology
Forensic Science</p>
 

<p>Phase 3 (III MBBS part 1) subjects-

Ophthalmology
Community Medicine
Otolaryngology</p>
 

<p>Phase 3 (III MBBS part 2) subjects-

General Medicine
General Surgery
Obstetrics and Gynaecology
Paediatrics</p>
 

<p>Evaluation is done through internal assessment and University examination. University examination is the main evaluation. It is held at the end of each phase. Only on passing Phase 1 will one be able to take on Phase 2. Similarly, only on clearing Phase 2 will one be able to take on Phase 3 part 1. One may enter Phase 3 part 2 even after not clearing Phase 3 part 1. But to appear for Phase 3 part 2 exam, one must have cleared Phase 3 part 1 successfully.
</p>
<p> HIGHER STUDIES AND PG COURSES</p>
<p>This is the age of super specialty! Just an MBBS Degree is not enough in today’s world of cut throat competition! After completing MBBS, graduates may go for the below mentioned traditional PG courses-</p>
<p>
MS (Master of Surgery)- 3 years long
MD (Doctor of Medicine)- 3 years long
PG Diploma- 2 years long
DNB (Diploma of National Board)</p>
 

<p>Using the above mentioned PG courses, one may go for clinical or non clinical studies. PG courses can be used to specialize in a particular discipline/field. Some such areas of specializations are- Obstetrics and Gynaecology, Pathology, Orthopaedics, ENT, Anaesthesia, Paediatrics, Pharmacology, General Medicine, Radiology etc.
</p>
 

<p>After completing any one of the above mentioned PG course, one may go for super specialty course. After MS, you may go for M.Ch. program. After completing MD, you may go for DM program.
</p>
 

<p>Even after going through all these PG and specialty courses, a Doctor must keep the learning process a continuous one! He/she must keep up with the latest developments taking place in the field of medicine and healthcare sector.
</p>
 

Other than the traditional PG courses, one may also go for slightly different courses like-

MBA
Law
PGDMLE (Post Graduate Diploma in Medical Law and Ethics)
MMST (Master’s in Medical Science and Technology)
M.Tech. (relevant field like Biomedical Engineering)

CAREER PROSPECTS AND JOB OPPORTUNITIES
With an MBBS Degree, one may practice as a General Practitioner in Government or Private hospitals/clinics. After pursuing PG courses, one’s chances of landing a good job will increase! After MBBS, job profiles available in front of graduates include-

Junior Doctor
Doctor
General Physician
 

Private practice (setting up own clinic) is another option available in front of graduates. Graduates may use CMS entrance test held by the Central Government and join Central Government setups (post of Medical Officer).
Graduates may also take part in Government schemes such as Rural Health Mission. Government enterprises such as ONGC, BHEL, OIL etc also recruit medical officers. One may also join hospitals as a Junior Doctor. Joining Armed Forces is another option (PG education at AFMC). Graduates may also work as a tutor at medical schools.
   
COLLEGES


Top Government MBBS Colleges in India  


College Name	                                                MBBS Fees
AIIMS New Delhi	                                                INR 7,640
Armed Forced Medical College (AMFC), Pune	                INR 64,950
Maulana Azad Medical College, New                               INR 15,450
Lady Hardinge Medical College, New Delhi	                INR 7,000
King George’s Medical University, Lucknow	                INR 2,07,000
Lokmanya Tilak Municipal Medical College, Mumbai	        INR 4,75,000
Seth GS Medical College, Mumbai	                                INR 5,04,000
Government Medical College, Amritsar	                        INR 4,40,000
Institute of Medical Sciences, Varanasi	                        INR 1,49,000
Government Medical College, Nagpur	                        INR 4,02,000

<p>
Top Private MBBS Colleges in India with College Name and   MBBS Fees</p>
<p> College Name	                                                 MBBS Fees
CMC Vellore	                                                INR 2,12,000
Kasturba Medical College, Mangalore	                        INR 71,60,000
JIPMER Puducherry	                                        INR 32,850</p>
<p>Mahatma Gandhi Institute of Medical Sciences (MGIMS), Wardha	INR 8,00,000
Christian Medical College (CMC), Ludhiana	                INR 33,00,000
Bangalore Medical College and Research Institute, Bangalore	INR 36,850
Aligarh Muslim University, Aligarh	                        INR 2,15,00,000
Ramaiah Medical College, Bangalore	                        INR 2,00,00,000
Maharajah’s Institute of Medical Sciences, Vizianagram     	INR 60,775
SVS Medical College, Mahbubnagar                        INR 55,00,000</p>
</h4>
</p>

  </div>
</body>
</html>