<!DOCTYPE html>
<style>
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'playfair display', serif;
  }
  .navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     background: white;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    z-index: 1;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    top: 25px;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 1.5%;
  }
  .topleft {
    flex: 1 1 auto;
    margin-left: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: #000;
  }
  .banner-area {
    position: relative;
    background: #000080;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .middle {
    font-size: 20px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    background: white;
    position: absolute;
    left: 45px;
    right: 25px;
    top: 120px;
    height: 600px;
    width: 1450px;
  }
</style>
<body>
  <div class="banner-area">
    <div class="navbar">
      <a href="{%url 'class12'%}" class="topleft">BACK</a>
    </div>
  </div>
  <div class="middle">
  <p> Mechanical engineering is an engineering branch that combines engineering physics and mathematics principles with materials science to design, analyze, manufacture, and maintain mechanical systems.[1] It is one of the oldest and broadest of the engineering branches.</p>
<p> The mechanical engineering field requires an understanding of core areas including mechanics, dynamics, thermodynamics, materials science, structural analysis, and electricity. In addition to these core principles, mechanical engineers use tools such as computer-aided design (CAD), computer-aided manufacturing (CAM), and product lifecycle management to design and analyze manufacturing plants, industrial equipment and machinery, heating and cooling systems, transport systems, aircraft, watercraft, robotics, medical devices, weapons, and others. It is the branch of engineering that involves the design, production, and operation of machinery.</p>
  Mechanical engineering is a broad discipline that applies the principles of engineering to the design and construction of machines and their parts.

The modern world comes with a lot of moving parts. From the way that a wall clock ticks away the hours to the spinning of car wheels on their axles, it takes many precise pieces and movements to keep things running smoothly. While it takes many hands and machines to put together something so complex as a car, those hands know what to do because of a mechanical engineer.

Mechanical engineers work across a huge variety of industries conceptualizing, designing, and creating machines as well as their components. Though it is one of the oldest engineering disciplines, it is also one that continues to change and grow with advancements in technology making it a vibrant and exciting career path even to this day.

</p><p>WHY DOES THE WORLD NEED MECHANICAL ENGINEERING?
</p><p>Though it may not be a discipline that most people spend time thinking about, mechanical engineering is critical to so many aspects of everyday life, from modern conveniences to basic understandings of science. Indeed, mechanical engineering is one of the oldest scientific disciplines and can be traced back centuries to the great thinkers of Ancient Greece like Archimedes. Contributions from these ancient engineers include chariots with differential gears, water clocks, and even a primitive steam engine.

In 1206, one of the foundational books of mechanical engineering was written by Muslim inventor and engineer Al-Jazari, called Book of Knowledge of Ingenious Mechanical Devices which included the beginnings of such important modern designs as the crankshaft.

As scientific thinking continued to progress, mechanical engineering expanded to include more analytical thought, particularly with Sir Isaac Newton’s laws of motion, which were integral to continued engineering progress. In the U.S., the first three schools of mechanical engineering included the U.S. Military Academy, Norwich University, and Rensselaer Polytechnic Institute, which were all in full operation by 1825.

Ultimately, most things that we use today that involve any type of moving parts comes, at least in part, from the minds of mechanical engineers and that is unlikely to change any time soon. Even the development of more sophisticated electronics and other technologies will depend at least in part on mechanical engineers. That is why mechanical engineering is an interesting and essential area of concentration.
</p><p>
<span style="color: white;">WHAT DOES ONE LEARN IN A MECHANICAL ENGINEERING PROGRAM?</span>
</p><p>Mechanical engineering programs are fairly standardized across the U.S. thanks in part to the Accreditation Board for Engineering and Technology (ABET). Mechanical engineering undergraduate degrees typically begin with some foundational courses that are applicable across the spectrum of engineering programs, including calculus, physics, and basic introductory engineering courses.

Once mechanical engineers begin to focus on their major, they can expect to find courses in design, manufacturing, mechanics, thermodynamics, and materials. Graduates of a master’s of engineering (ME) program should have both academic and lab experience in the various disciplines that apply directly to mechanical engineering. It is notable that a mechanical engineering degree offers a great degree of breadth, making it an attractive major for those students who know they want to study engineering but who are not quite sure where to focus.

Mechanical engineers can begin their professional careers with a bachelor of science degree, but some students decide to pursue advanced learning through a master’s or a PhD level education. It is common for engineers to gain some experience with their bachelor’s degree and later go on to further their formal education to move forward in their careers.


</p><p>BRANCHES OF MECHANICAL ENGINEERING</p><p>
Because mechanical engineering is a broad topic, there are many engineering specialties that can fit within its scope. Some of the most common mechanical engineering branches where graduating students could find careers include:

Acoustical engineering: the manipulation and control of vibration in order to reduce unwanted noise
</p><p>Manufacturing engineering: optimizing manufacturing techniques, developing processes as well as machines, tools, and equipment for the manufacture of goods
Thermal engineering: creating and maintaining comfortable and safe environments through the control of heating and cooling systems
Vehicle engineering: the design and manufacture of all manner of vehicles
Aerospace engineering: vehicle engineering as specific to air and space travel
In some instances, other specialties fall within the purview of mechanical engineering as well. For example, the Stanford graduate program in mechanical engineering is one of the world’s top institutions and features specialties in:

</p><p>Biomechanical engineering: the application of engineering theory to medicine
</p><p>Design engineering: the use of mechanical engineering theories to design better machines that promote efficiency as well as sustainability
Flow physics and computational engineering: the intersection of sciences, engineering, mathematics, and computer science
Mechanics and computation engineering: the application of mechanics to solids, fluids, biological tissue, and complex materials
Thermoscience engineering: the use of engineering to create, harness, and conserve energy
Undergraduate students are largely not expected to choose a specialty but those who decide to go on to a graduate program should be prepared to focus on a very specific area of mechanical engineering.

</p><p>THE PRESENT AND FUTURE OF MECHANICAL ENGINEERING</p><p>
While the future is never certain, there are some emerging industry trends in mechanical engineering. According to one survey of mechanical engineers who are working in their field, the most sought-after positions for mechanical engineers will be in energy, biomedicine, computers, electronics, water, and nanotechnology. This breadth of subjects suggests jobs will be fairly plentiful for a well-educated engineer.</p>
</div>
</body>
</html>