<!DOCTYPE html>
<html>
<style>
	body, html{
	height: 100%;
  margin: 0;
}

.bgimg {
  background:#000080;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
.middle {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 60px;
  text-align: center;
}
.topleft {
  position: absolute;
  top: 20px;
  left: 16px;
  font-weight: bold;
}
.navlink{
  text-decoration: none;
  margin-rightt: 10px;
  color: yellow;
}
</style>
<body>
<div class="bgimg">
	 <div class="topleft">
	 <a href="{%url 'cghome'%}" class="navlink">BACK</a>
     </div>
	<div class="middle">
		<prep style="font-size: 30px; color: yellow;">                                                                                                                CAREER GUIDANCE AFTER GRADUATION</prep>
		<br>
		<br>
		<br>
		<div style="height: 590px; overflow-y: scroll;">
			<iframe width="220" height="150" src="https://www.youtube.com/embed/Sck5WpF4Zms" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/Y_qk1YJXDFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/sc7Tm79ZK2Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/ja1TWjWhEoM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/Wp1msZ-tahI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<pre>   CS             ELECTRICAL        MECHANICAL         CIVIL             ECE     </pre>
			<br>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/cPXoHEWDwFM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/_icqqVLUI1E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/iaR9fAQcrms" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/ZyIKVGPwv4w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/vakfLz0nae8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<pre>              B.ARCH            M.TECH             M.SC            M.COM             MA                 </pre>
			<br>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/e2cT9K-das4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/_2WuMKrIP8Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/FOt25gxDAg8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/AKNWiA-Od3I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<iframe width="220" height="150" src="https://www.youtube.com/embed/F6nCaCPW91M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<pre>         MBBS            B.PHARMA             CA               B.ED           B.SC AGRI     </pre>
		</div>
	</div>
</div>

</body>
</html>