{%extends 'navbar.html'%}

{%load static%}

{%block content%}
<p>
  <h1><b><center> CATALOG </center> </b> </h1>
  <br>
  <br>
  <h2> <center>WANT TO GRAB SOME FREE BASIC COURSES?</center></h1><br><br>
  <h3><strong><center>REGISTER NOW !!!</center></h3></a></strong>
  <br>
  <br>
  </p>
<p><center> <h4><u> Here are some amazing courses which u should try!!!!</h4></center></u>
  <br>

</p>


<center>

<a href="https://www.udemy.com/course/html5-fundamentals-for-beginners/" target="_blank"><h5> HTML 5 AND CSS FUNDAMENTALS FOR BEGINNERS</h5></a>
<a href="https://www.coursera.org/learn/machine-learning "target="_blank"><h5> MACHINE LEARNING</h5></a>
<a href="https://www.coursera.org/learn/careerdevelopment" target="_blank"><h5> CAREER DEVELOPMENT</h5></a>
<a href="https://www.udemy.com/course/free-learn-c-tutorial-beginners/"target="_blank"><h5> C FOR BEGINNERS</h5></a>
<a href="https://www.udemy.com/course/pythonforbeginnersintro/ "target="_blanK"><h5>PYTHON FOR BEGINNERS</h5></a>
<a href= "https://www.udemy.com/topic/java/free/ "target="_blank"><h5> JAVA</h5></a>
<a href="https://www.coursera.org/learn/ai-for-everyone" target="_blank"><h5> ARTIFICIAL INTELLIGENCE</h5></a>
<a href="https://www.coursera.org/specializations/data-structures-algorithms" target="_blank"><h5> DATA STRUCTURES AND ALGORITHMS</h5></a>
</center>


<div class="bgimg">
<div class="middle">
<p><center><h1> BASIC YOUTUBE COURSES</h1> </center></p>
<iframe width="297" height="150" src="https://www.youtube.com/embed/EN4fEbcFZ_E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/PlHnamdwGmw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/UrwbeOIlc68" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/o5tW4Kua4Hs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/p_fMf5Kx640" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="297" height="150" src="https://www.youtube.com/embed/IkRwmahvibw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/ZMlMRTLei3c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/3gvJ_0qi_Tc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/qGiKv3-02vw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/rcxCH5ue5Us" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/WPcbGq2Wzpg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/-ETQ97mXXF0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/dz7Ntp7KQGA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/v_1zB2WNN14" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="297" height="150" src="https://www.youtube.com/embed/BPHAr4QGGVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>

{%endblock%}
